openapi: 3.1.0
info:
  version: '6.5.0'
  title: FDX V6.5.0 Meta API
  description: Financial Data Exchange V6.5.0 Meta API
  contact:
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
    email: fdxsupport@financialdataexchange.org
  license:
    name: FDX API License Agreement (11-13-2019)
    url: 'https://financialdataexchange.org/common/Uploaded%20files/Policies/FDX%20API%20License%20Agreement-(11-13-2019).pdf'
  x-fdx-csdf-technical: true
servers:
  - url: 'https://api.fi.com/fdx/v6'
    description: Financial Data Exchange V6 Meta API
tags:
  - name: Meta
    description: API management and metrics
security:
  - OAuthFapi1Baseline: []

paths:
  ############################################################
  #
  # Meta management and metrics paths
  #
  ############################################################

  /availability:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
    x-fdx-csdf-technical: true
    get:
      operationId: getAvailability
      tags:
        - Meta
      description: Get information about this API's availability
      summary: Get API availability
      x-fdx-csdf-technical: true
      parameters:
        - $ref: '#/components/parameters/OperationIdQuery'
      responses:
        '200':
          description: Status and planned times of API availability
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityList'

  /capability:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
    x-fdx-csdf-technical: true
    get:
      operationId: getCapability
      tags:
        - Meta
      description: Get information about this API's capability
      summary: Get API capability
      x-fdx-csdf-technical: true
      parameters:
        - $ref: '#/components/parameters/OperationIdQuery'
        - $ref: '#/components/parameters/FdxVersionQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiVersionQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/ResultTypeQuery'
      responses:
        '200':
          description: >-
            API's capability for connections, cutoff times
            and product types
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capability'

  /certification-metrics:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
    get:
      operationId: getCertificationMetrics
      tags:
        - Meta
      description: Get certification performance metrics for this implementer's APIs
      summary: Get certification performance metrics
      parameters:
        - $ref: '#/components/parameters/OperationIdQuery'
      responses:
        '200':
          description: Array of API's certification metrics
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationMetrics'

components:

  securitySchemes:
    ############################################################
    #
    # Security Schemes
    #
    ############################################################

    OAuthFapi1Baseline:
      $ref: './fdxapi.components.yaml#/components/securitySchemes/OAuthFapi1Baseline'

  parameters:
    ############################################################
    #
    # Meta management and metrics request parameters
    #
    ############################################################

    FdxVersionQuery:
      name: fdxVersion
      in: query
      description: Specific FDX version for which to get the capability. Optional.
        Deprecated in v6.5 and replaced with `FdxApiVersionQuery` in components
      required: false
      schema:
        $ref: './fdxapi.components.yaml#/components/schemas/FdxVersion'
      deprecated: true

    OperationIdQuery:
      name: operationId
      in: query
      description: Specific operationId for which to get the metrics. Optional
      required: false
      schema:
        $ref: '#/components/schemas/OperationId'

  schemas:
    ############################################################
    #
    # Meta management and metrics data entities
    #
    ############################################################

    Availability:
      title: Availability entity
      description: Response object for /availability API
      type: object
      x-fdx-csdf-technical: true
      properties:
        status:
          $ref: '#/components/schemas/AvailabilityStatus'
          description: Status of API availability
          x-fdx-csdf-technical: true
        description:
          type: string
          description: Description of availability status
          x-fdx-csdf-technical: true
        operationId:
          $ref: '#/components/schemas/OperationId'
          description: Operation ID (e.g. name) for this Availability
          x-fdx-csdf-technical: true
        plannedAvailability:
          type: array
          description: Provider's plan for API availability
          x-fdx-csdf-technical: true
          items:
            $ref: '#/components/schemas/PlannedAvailability'

    AvailabilityList:
      title: Availability List entity
      description: Response object for /availability API
      type: object
      x-fdx-csdf-technical: true
      properties:
        availability:
          description: Zero or more API availability metrics
          type: array
          x-fdx-csdf-technical: true
          items:
            $ref: '#/components/schemas/Availability'

    Capability:
      title: Capability entity
      description: The response object for the API /capability request
      type: object
      x-fdx-csdf-technical: true
      properties:
        fdxVersions:
          type: array
          description: The FDX schema versions supported by one or more operations
          x-fdx-csdf-technical: true
          items:
            $ref: './fdxapi.components.yaml#/components/schemas/FdxVersion'
        allowedConnections:
          type: integer
          description: The number of concurrent connections allowed for this client
          x-fdx-csdf-technical: true
        activeConnections:
          type: integer
          description: The current number of active connections for this client
          x-fdx-csdf-technical: true
        messageFormat:
          $ref: '#/components/schemas/MessageFormat'
          description: Defaults to JSON
          x-fdx-csdf-technical: true
        operations:
          type: array
          description: The FDX API endpoints supported
          x-fdx-csdf-technical: true
          items:
            $ref: '#/components/schemas/Operation'
        jwksUrl:
          $ref: './fdxapi.components.yaml#/components/schemas/HateoasLink'
          description: >-
            The URL to retrieve the JWKS public keys from the data provider,
            needed to enable payload level encryption above the TLS layer
          x-fdx-csdf-technical: true

    CertificationMetric:
      title: Certification Metric entity
      description: A single certification performance metric
      type: object
      properties:
        reportStartTimestamp:
          $ref: './fdxapi.components.yaml#/components/schemas/Timestamp'
          description: When the reported metrics period began
        reportEndTimestamp:
          $ref: './fdxapi.components.yaml#/components/schemas/Timestamp'
          description: When the reported metrics period ended
        metricsName:
          type: string
          description: >-
            Any provider descriptive name for the measurement.
            Optional, can be omitted if operationIds are returned
        operationIds:
          description: >-
            One or more Operation IDs for which these metrics apply.
            Optional, can be omitted if metricsName is returned
          type: array
          items:
            $ref: '#/components/schemas/OperationId'
        responseTimeAverage:
          type: number
          description: The self-reported average response time in milliseconds for all combined data responses
        averageUpTime:
          type: number
          description: >-
            See the Certification Performance section that describes how this measurement
            will be calculated, defines the % of availability during the measurement
        reportTimestamp:
          $ref: './fdxapi.components.yaml#/components/schemas/Timestamp'
          description: Time when these performance and availability metrics were created

    CertificationMetrics:
      title: Certification Metrics entity
      description: Response object for /certification-metrics API
      type: object
      properties:
        metrics:
          description: Zero or more certification performance metrics
          type: array
          items:
            $ref: '#/components/schemas/CertificationMetric'

    Operation:
      title: Operation entity
      description: Definition of a supported API for the /capability response object
      type: object
      x-fdx-csdf-technical: true
      properties:
        id:
          description: Operation ID (e.g. name) of this API
          $ref: '#/components/schemas/OperationId'
        availability:
          description: Whether and how this API is currently supported
          $ref: '#/components/schemas/Availability'
        alsoSupported:
          description: >-
            Additional FDX API endpoints supported at this API, e.g. Transactions
            within Accounts, or TxImages within Transactions
          type: array
          items:
            $ref: '#/components/schemas/OperationId'
        version:
          description: >-
            Data provider's implementation version number for this operation,
            which is unrelated to the FDX API version
          type: string
        fdxVersions:
          description: FDX schema versions supported at this endpoint
          type: array
          items:
            $ref: './fdxapi.components.yaml#/components/schemas/FdxVersion'
        cutOffTime:
          $ref: './fdxapi.components.yaml#/components/schemas/Timestamp'
          description: >-
            Cut off time for same-day execution of activity request submitted to this API.
            Alternatively, the as-of time when EOD account balances are typically set
          x-fdx-csdf-technical: true
        link:
          description: >-
            General HATEOAS link for this API, specifying supported action (GET, POST, etc) and
            contentTypes (application/json, image/png, etc), but without any path parameter values
          $ref: './fdxapi.components.yaml#/components/schemas/HateoasLink'

    PlannedAvailability:
      title: Planned Availability entity
      description: Provider's plan for API availability
      type: object
      x-fdx-csdf-technical: true
      properties:
        status:
          $ref: '#/components/schemas/AvailabilityStatus'
          description: API availability status for this time period
          x-fdx-csdf-technical: true
        description:
          type: string
          description: Description of API availability status
          x-fdx-csdf-technical: true
        startTime:
          $ref: './fdxapi.components.yaml#/components/schemas/Timestamp'
          description: Start time for this status period
          x-fdx-csdf-technical: true
        endTime:
          $ref: './fdxapi.components.yaml#/components/schemas/Timestamp'
          description: End time for this status period
          x-fdx-csdf-technical: true

    ############################################################
    #
    # Meta management and metrics data types
    #
    ############################################################

    AvailabilityStatus:
      title: Availability Status
      description: Statuses for reporting API availability
      type: string
      x-fdx-csdf-technical: true
      enum:
        - ALIVE
        - PARTIAL
        - MAINTENANCE
        - DOWN

    MessageFormat:
      title: Message Format
      description: Message format used in /capability API
      type: string
      x-fdx-csdf-technical: true
      enum:
        - JSON

    OperationId:
      title: FDX Resource Operation ID
      description: The operationIds for all FDX APIs
      type: string
      x-fdx-csdf-technical: true
      enum:
        # fdxapi.consent.yaml
        - getConsentGrant
        - getConsentRevocation
        - revokeConsentGrant
        # fdxapi.core.yaml
        - getAccount
        - getAccountAssetTransferNetworks
        - getAccountContact
        - getAccountPaymentNetwork
        - getAccountPaymentNetworks
        - getAccountStatement
        - getAccountTransactionImages
        - getRewardProgram
        - getRewardProgramCategories
        - getTermsAndConditions
        - getPaymentNetworkLifecycleEvents
        - searchForAccountRewardTransactions
        - searchForAccounts
        - searchForAccountStatements
        - searchForAccountTransactions
        - searchRewardPrograms
        - revokePaymentNetworkId
        # fdxapi.customer.yaml
        - getCustomer
        - getCustomerInfo
        - getCustomers
        # fdxapi.event-notifications.yaml
        - createNotificationSubscription
        - deleteNotificationSubscription
        - getNotifications
        - getNotificationSubscription
        - publishNotification
        # fdxapi.fraud.yaml - deprecated by RFC 0409 for v6.5
        - reportSuspectedFraudIncident
        # fdxapi.meta.yaml
        - getAvailability
        - getCapability
        - getCertificationMetrics
        # fdxapi.money-movement.yaml
        - cancelPayment
        - cancelRecurringPayment
        - cancelTransfer
        - createPayee
        - createPaymentInitiationParty
        - createPaymentMethod
        - deletePayee
        - deletePaymentInitiationParty
        - deletePaymentMethodRegistration
        - getPayee
        - getPayment
        - getPaymentInitiationParty
        - getPaymentMethodRegistration
        - getPaymentsForRecurringPayment
        - getRecurringPayment
        - getTransfer
        - listPaymentInitiationParties
        - requestAccountTransfer
        - schedulePayment
        - scheduleRecurringPayment
        - searchForPayees
        - searchForPayments
        - searchForRecurringPayments
        - searchForTransfers
        - updateAccountTransfer
        - updatePayee
        - updatePayment
        - updatePaymentInitiationParty
        - updatePaymentMethodRegistration
        - updateRecurringPayment
        # fdxapi.payroll.yaml
        - getPayrollReport
        - getPayrollReports
        - getPaystub
        - getPaystubs
        # fdxapi.recipient-registration.yaml
        - createRecipient
        - deleteRecipient
        - getRecipient
        - updateRecipient
        # fdxapi.registry.yaml - 4
        - getDataProvider
        - getRegistryRecipient
        - getRegistryRecipients
        - searchForDataProviders
        # fdxapi.tax.yaml
        - createTaxForm
        - getTaxForm
        - searchForTaxForms
        - updateTaxForm
        # fdxapi.template.yaml - 2
        - getResource
        - getResources
