openapi: 3.1.0
info:
  version: '6.5.0'
  title: FDX V6.5.0 Core API
  description: Financial Data Exchange V6.5.0 Core API
  contact:
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
    email: fdxsupport@financialdataexchange.org
  license:
    name: FDX API License Agreement (11-13-2019)
    url: 'https://financialdataexchange.org/common/Uploaded%20files/Policies/FDX%20API%20License%20Agreement-(11-13-2019).pdf'
  x-fdx-csdf-account-categories: [ANY]
servers:
  - url: 'https://api.fi.com/fdx/v6'
    description: Financial Data Exchange V6 Core API
tags:
  - name: Account Information
    description: Search and view customer accounts
  - name: Account Statements
    description: Search and retrieve account statements
  - name: Account Transactions
    description: Search and view account transactions
  - name: Money Movement
    description: View account money movement details
  - name: Personal Information
    description: Search and view customer or customers
  - name: Reward Program Categories
    description: View categories of reward programs
  - name: Reward Program Information
    description: Search and view customer reward programs
  - name: Terms And Conditions
    description: View account terms and conditions
paths:
  ############################################################
  #
  # Core paths
  #
  ############################################################

  /accounts:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: searchForAccounts
      tags:
        - Account Information
      summary: Search for accounts
      description: >-
        Return information for all of the customer's consented accounts or just
        those accounts identified in the `accountIds` request parameter.
        Use `ResultTypeQuery` parameter value of `lightweight` to retrieve minimal
        descriptive information and the `accountId` for each account.
        The `accountId` can then be used in the `getAccount` operation's path
        `/accounts/{accountId}` to retrieve full details about each account
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - name: accountIds
          in: query
          description: Comma separated list of account ids
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: startTime
          in: query
          description: Start time for use in retrieval of transactions.
            Deprecated in v6.5, transactions fields were deprecated by RFCs 0309 and 0367
          schema:
            type: array
            items:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          deprecated: true
        - name: endTime
          in: query
          description: End time for use in retrieval of transactions.
            Deprecated in v6.5, transactions fields were deprecated by RFCs 0309 and 0367
          schema:
            type: array
            items:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          deprecated: true
        - name: startDate
          in: query
          description: Start date for use in retrieval of transactions.
            Deprecated in v6.5, transactions fields were deprecated by RFCs 0309 and 0367
          schema:
            $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          deprecated: true
        - name: endDate
          in: query
          description: End date for use in retrieval of transactions.
            Deprecated in v6.5, transactions fields were deprecated by RFCs 0309 and 0367
          schema:
            $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          deprecated: true
        - $ref: './fdxapi.components.yaml#/components/parameters/ResultTypeQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: >-
            Array of accounts (AnnuityAccount, BuyNowPayLaterAccount, CommercialAccount,
            DepositAccount, DigitalWallet, InsuranceAccount, InvestmentAccount,
            LineOfCreditAccount or LoanAccount)
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              examples:
                Search for accounts success response:
                  value:
                    page:
                      nextOffset: '2'
                      total: 3
                    links:
                      next:
                        href: '/accounts?offSet=2&limit=10'
                    accounts:
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10001'
                        nickname: My Checking Acc XXXX3223
                        status: OPEN
                        balanceAsOf: '2017-11-05T13:15:30.751Z'
                        currentBalance: 13300.35
                        openingDayBalance: 500
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10002'
                        nickname: My Checking Acc XXXX4443
                        status: OPEN
                        balanceAsOf: '2017-11-05T13:15:30.751Z'
                        currentBalance: 332.22
                        openingDayBalance: 100.0
                      - accountCategory: LOAN_ACCOUNT
                        accountId: '20001'
                        nickname: My Mortgage Acc XXXX9979
                        status: OPEN
                        balanceAsOf: '2017-11-05T13:15:30.751Z'
                        principalBalance: 133000.35
                        loanTerm: 30
                        nextPaymentDate: '2017-12-01'
                        nextPaymentAmount: 2333.32
        '206':
          description: >-
            Partial success array of accounts (AnnuityAccount, BuyNowPayLaterAccount,
            CommercialAccount, DepositAccount, DigitalWallet, InsuranceAccount,
            InvestmentAccount, LineOfCreditAccount or LoanAccount)
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
        '400':
          description: Start or end date value is not in the ISO 8601 format
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: getAccount
      tags:
        - Account Information
      summary: Retrieve account details
      description: >-
        Retrieve full details about the account identified by `{accountId}` parameter
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: >-
            This can be one of AnnuityAccount, BuyNowPayLaterAccount,
            CommercialAccount, DepositAccount, DigitalWallet, InsuranceAccount,
            InvestmentAccount, LineOfCreditAccount or LoanAccount
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithDetails'
              examples:
                Loan Account With Details:
                  value:
                    accountCategory: LOAN_ACCOUNT
                    accountId: '12345678'
                    accountType: LOAN
                    accountNumberDisplay: XXXXX4567
                    status: OPEN
                    description: 30 Year Mortgage
                    nickname: My Home Mortgage
                    currency:
                      currencyCode: USD
                    chargedInterest:
                      rate: 4
                      type: FIXED
                    loanTerm: 0
                    totalNumberOfPayments: 0
        '404':
          description: Account with id not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/asset-transfer-networks:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    get:
      operationId: getAccountAssetTransferNetworks
      tags:
        - Money Movement
      description: ...
      summary: Get asset transfer details for this account
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: Information required to facilitate asset transfer from this account
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTransferNetworkList'
              examples:
                ACATS:
                  value:
                    assetTransferNetworks:
                      - identifier: '121000358'
                        identifierType: "ACCOUNT_NUMBER"
                        institutionName: US Investments
                        institutionId: '1234567890'
                        type: 'US_ACATS'
                        jointAccount: true

  /accounts/{accountId}/contact:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: getAccountContact
      tags:
        - Personal Information
      description: Get contact information on the account
      summary: Get an account's contact information
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: >-
            Details used to verify an account
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountContact'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/payment-networks:
    parameters:
      - $ref: '#/components/parameters/AccountIdPath'
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: getAccountPaymentNetworks
      tags:
        - Money Movement
      description: Get payment networks supported by the account
      summary: Get payment networks supported by the account
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - name: pageKey
          in: query
          description: Pagination for `/accounts/{accountId}/payment-network` is deprecated in v6.5
          deprecated: true
          schema:
            type: integer
        - name: limit
          in: query
          description: Pagination for `/accounts/{accountId}/payment-network` is deprecated in v6.5
          deprecated: true
          schema:
            type: integer
        - name: bankIdType
          in: query
          description: Type of Bank ID or the Routing Number, if an international Bank Identifier Code (`BIC`)
            is needed for international payments. If omitted response should default to the appropriate domestic
            bank IDs of either `US_ABA_NUMBER` or `CA_ROUTING_NUMBER` depending upon institution
          required: false
          schema:
            $ref: '#/components/schemas/BankIdType'
        - name: paymentNetworkTypes
          in: query
          description: Comma separated list of payment network types being requested, if the account
            supports them, such as `US_ACH`, `US_CHECK`, `US_RTP`, `US_RTP_RFP`, etc.
          style: form
          explode: false
          required: false  # to be made required: true with FDX major release v7.0
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PaymentNetworkType'
        - name: identifierTypes
          in: query
          description: Comma separated list of `identifier` types being requested, such as
            if a specific type is required for the requested `paymentNetworkTypes`.
            One or both of `ACCOUNT_NUMBER`, `TOKENIZED_ACCOUNT_NUMBER`
          style: form
          explode: false
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PaymentNetworkIdentifierType'
      responses:
        '200':
          description: Information required to execute a payment transaction against this account.
            If response contains `ACCOUNT_NUMBER` identifiers which are not masked this is sensitive data
            which should only be exchanged if encrypted. For detailed information on implementing encryption
            see the FDX CSDF API Security Model document's "Part 2 FDX Message Encryption" in the Security
            folder of the latest FDX Release download
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentNetworks'
                description: >-
                  Represents what the encrypted JSON payload would be in a response containing sensitive data
                  (`ACCOUNT_NUMBER` identifiers).
                  Data Provider could return this as an unencrypted response when it contains only non-sensitive
                  data (such as `TOKENIZED_ACCOUNT_NUMBER` identifiers)
              examples:
                Real Account Number with Transfer Limits:
                  value:
                    paymentNetworks:
                      - paymentNetworkId: "pymt-netwk-428a30"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "1234567890"
                        identifierType: "ACCOUNT_NUMBER"
                        type: "US_ACH"
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
                        transferLimits:
                          out:
                            day:
                              resetsOn: "2023-08-09T00:00:00.000Z"
                              transferMaxAmount: 10000.0
                              transferRemainingAmount: 8356.0
                              maxOccurrence: 6
                              remainingOccurrence: 5
                            month:
                              resetsOn: "2023-09-01T00:00:00.000Z"
                              transferMaxAmount: 50000.0
                              transferRemainingAmount: 35200.0
                            transaction:
                              transferMaxAmount: 5000.0
                              transferRemainingAmount: 4990.0
                Tokenized Account Number on Multiple Networks with Reused ID:
                  value:
                    paymentNetworks:
                      - paymentNetworkId: "pymt-netwk-428a31"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "987654321"
                        identifierType: "TOKENIZED_ACCOUNT_NUMBER"
                        type: "US_ACH"
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
                      - paymentNetworkId: "pymt-netwk-428a31"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "0987654321"
                        identifierType: TOKENIZED_ACCOUNT_NUMBER
                        type: US_RTP
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
                Mixed Payment Networks with Separate IDs:
                  value:
                    paymentNetworks:
                      - paymentNetworkId: "pymt-netwk-0003"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "1234567890"
                        identifierType: "ACCOUNT_NUMBER"
                        type: "US_ACH"
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
                      - paymentNetworkId: "pymt-netwk-0004"
                        bankId: "026009593"
                        bankIdType: US_ABA_NUMBER
                        identifier: "1234567890"
                        identifierType: "ACCOUNT_NUMBER"
                        type: "US_FEDWIRE"
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
        '404':
          $ref: '#/components/responses/404'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Invalid request parameter combination:
                  value:
                    code: '422'
                    message: Unprocessable due to requested bankIdType or identifierType(s) not compatible with
                      one or more of requested paymentNetworkType(s)
                    debugMessage: Data provider's custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/payment-networks/{paymentNetworkId}:
    parameters:
      - $ref: '#/components/parameters/AccountIdPath'
      - $ref: '#/components/parameters/PaymentNetworkIdPath'
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: getAccountPaymentNetwork
      tags:
        - Money Movement
      summary: Get the payment networks on the account for `paymentNetworkId`
      description: Get the payment network(s) on this account for the `bankId` and
        account `identifier` pair identified by the paymentNetworkId
      x-fdx-csdf-account-categories: [REG_E]
      responses:
        '200':
          description: The details and status of the payment network(s) for this `paymentNetworkId`
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                description: >-
                  Represents what the encrypted JSON payload would be in a response containing sensitive data
                  (`ACCOUNT_NUMBER` identifiers).
                  Data Provider could return this as an unencrypted response when it contains only non-sensitive
                  data (such as `TOKENIZED_ACCOUNT_NUMBER` identifiers)
                $ref: '#/components/schemas/AccountPaymentNetworks'
              examples:
                Real Account Number with Transfer Limits:
                  value:
                    paymentNetworks:
                      - paymentNetworkId: "pymt-netwk-428a30"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "1234567890"
                        identifierType: ACCOUNT_NUMBER
                        type: US_ACH
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
                        transferLimits:
                          out:
                            day:
                              resetsOn: "2023-08-09T00:00:00.000Z"
                              transferMaxAmount: 10000.0
                              transferRemainingAmount: 8356.0
                              maxOccurrence: 6
                              remainingOccurrence: 5
                            month:
                              resetsOn: "2023-09-01T00:00:00.000Z"
                              transferMaxAmount: 50000.0
                              transferRemainingAmount: 35200.0
                            transaction:
                              transferMaxAmount: 5000.0
                              transferRemainingAmount: 4990.0
                Tokenized Account Number on Multiple Networks with same paymentNetworkId:
                  value:
                    paymentNetworks:
                      - paymentNetworkId: "pymt-netwk-428a31"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "0987654321"
                        identifierType: TOKENIZED_ACCOUNT_NUMBER
                        type: US_ACH
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
                      - paymentNetworkId: "pymt-netwk-428a31"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "0987654321"
                        identifierType: TOKENIZED_ACCOUNT_NUMBER
                        type: US_RTP
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
                Only a single bankId and account identifier for a paymentNetworkId:
                  value:
                    paymentNetworks:
                      - paymentNetworkId: "pymt-netwk-0003"
                        bankId: "121000358"
                        bankIdType: US_ABA_NUMBER
                        identifier: "11900000432"
                        identifierType: TOKENIZED_ACCOUNT_NUMBER
                        type: US_ACH
                        status: ACTIVE
                        transferIn: true
                        transferOut: true
        '404':
          $ref: './fdxapi.components.yaml#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/payment-networks/{paymentNetworkId}/revocation:
    parameters:
      - $ref: '#/components/parameters/AccountIdPath'
      - $ref: '#/components/parameters/PaymentNetworkIdPath'
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    put:
      summary: Revoke a payment network identifier
      description: Revoke the payment network pair of `bankId` and account `identifier`
        identified by the paymentNetworkId across all its multiple payment network types.
        For example, a `TOKENIZED_ACCOUNT_NUMBER` thought to be compromised will be
        revoked across both US_ACH and US_RTP (assuming it was issued across both)
      operationId: revokePaymentNetworkId
      tags:
        - Money Movement
      requestBody:
        description: Reason and initiator of payment network identifier revocation request
        required: true
        content:
          application/json:
            schema:
              $ref: './fdxapi.components.yaml#/components/schemas/RevocationRequest'
            examples:
              Standard Request:
                value:
                  reason: BUSINESS_RULE
                  initiator: DATA_ACCESS_PLATFORM
      responses:
        '204':
          description: No Content
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
        '400':
          $ref: './fdxapi.components.yaml#/components/responses/400'
        '401':
          $ref: './fdxapi.components.yaml#/components/responses/401'
        '403':
          $ref: './fdxapi.components.yaml#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: './fdxapi.components.yaml#/components/responses/409'
    get:
      summary: Retrieve revocation records of a payment network identifier
      description: Retrieve revocation records of a payment network identifier pair of
        `bankId` and account `identifier`, possibly used across multiple payment network types
      operationId: getPaymentNetworkLifecycleEvents
      tags:
        - Money Movement
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentNetworkLifecycleEvents'
        '401':
          $ref: './fdxapi.components.yaml#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'

  /accounts/{accountId}/reward-transactions:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: searchForAccountRewardTransactions
      tags:
        - Account Transactions
        - Reward Program Information
      description: >-
        Search for account transactions with rewards. Example:
        /accounts/{accountId}/reward-transactions?startDate=date1&endDate=date2
      summary: Search for account transactions with rewards
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: './fdxapi.components.yaml#/components/parameters/StartDateQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/EndDateQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Paginated collection of transactions which have earned or adjusted rewards
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardTransactions'
              examples:
                Summarized Transaction with Rewards:
                  summary: Example of single transaction summary with earned rewards
                  value:
                    transactions:
                      - accountId: '10001'
                        transactionId: '20003'
                        postedTimestamp: '2017-11-05T13:15:30.751Z'
                        description: Hotel Stay
                        debitCreditMemo: DEBIT
                        status: POSTED
                        amount: 236
                        reward:
                          accrued: 472
                          adjusted: 0
                          categoryId: '293'
        '206':
          description: Partial success paginated list of transaction summaries, for example
            if not all transactions in requested date range are being returned
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardTransactions'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/statements:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: searchForAccountStatements
      tags:
        - Account Statements
      description: >-
        Get account statements. Example: GET
        /accounts/{accountId}/statements?startTime=value1&endTime=value2
      summary: Search for statements
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: './fdxapi.components.yaml#/components/parameters/StartTimeQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/EndTimeQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/StartDateQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/EndDateQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Paginated list of available statements
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
              examples:
                Search for statements success response:
                  value:
                    page:
                      nextOffset: '2'
                      total: 3
                    links:
                      next:
                        href: '/accounts/1111/statements?offSet=2&limit=10'
                    statements:
                      - accountId: '10001'
                        statementId: '40004'
        '206':
          description: Partial success paginated list of available statements
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/statements/{statementId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: getAccountStatement
      tags:
        - Account Statements
      description: >-
        Gets an account statement image file. Use
        [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)
        to specify desired content types. See ContentTypes definition for typical values
      summary: Get an account statement
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: '#/components/parameters/StatementIdPath'
      responses:
        '200':
          description: An image of an account statement
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/pdf:
              schema:
                description: A pdf image of an account statement
                type: string
                format: binary
            image/gif:
              schema:
                description: A gif image of an account statement
                type: string
                format: binary
            image/jpeg:
              schema:
                description: A jpeg image of an account statement
                type: string
                format: binary
            image/tiff:
              schema:
                description: A tiff image of an account statement
                type: string
                format: binary
            image/png:
              schema:
                description: A png image of an account statement
                type: string
                format: binary
        '302':
          description: Statement is available at specified location. URL is returned via the `Location` HTTP header
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
        '400':
          description: Statement is processing and is not yet available
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Statement is Processing:
                  value:
                    code: '1300'
                    message: Statement is Processing
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: When account is present with no statements in it
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Statements not found for given Account:
                  value:
                    code: '1108'
                    message: Statements not found for given Account
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Statement id not found for Account:
                  value:
                    code: '1104'
                    message: Statement id not found for Account
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '406':
          $ref: './fdxapi.components.yaml#/components/responses/406'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/terms-and-conditions:
    parameters:
      - $ref: '#/components/parameters/AcceptLanguageHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: getTermsAndConditions
      tags:
        - Terms And Conditions
      summary: Retrieve account terms and conditions
      description: >-
        Retrieve the full static terms and conditions for the account identified by `{accountId}`.
        Use the [Accept HTTP request header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)
        to indicate one or more content types to request for the response in comma-separated string array format.
        Use `application/json` to request data (and embedded URI links to documents or HTML pages), or
        `application/pdf` or `application/zip` to request documents
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: Terms and Conditions data elements
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/pdf:
              schema:
                description: The account terms and conditions downloaded as a pdf document
                type: string
                format: binary
            application/zip:
              schema:
                description: The account terms and conditions downloaded as a zip file of pdf or other documents
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/TermsAndConditions'
              examples:
                Example Deposit Account terms and conditions JSON response including URIs:
                  value:
                    productId: MyBank_PremiumSavings_001
                    uris:
                      - uri: 'http://www.fdx.org/products/depositsTerms.pdf'
                        title: Deposit Account Terms and Conditions
                        type: PDF
                        lang: en
                        effectiveDate: 2021-07-15
                        expireDate: 2099-12-31
                    rewardsTermsAndConditions:
                      rewardProgramId: DebitCardRewards_001
                      uris:
                        - uri: 'http://www.fdx.org/products/DebitRewardsTerms.pdf'
                          title: Debit Card Rewards Terms and Conditions
                          type: PDF
                          lang: en
                          effectiveDate: 2021-07-15
                          expireDate: 2099-12-31
                    accountCategory: DEPOSIT_ACCOUNT
                    initial:
                      effectiveDate: 2025-01-02
                      arbitrationProvision: true
                      cardReplacementFee: 0
                      paperStatementsFee: 0
                      domesticAtmFee: 0
                      foreignAtmForeignCurrencyAdvanceFee: 25
                      foreignAtmUsDollarAdvanceFee: 4
                      foreignPurchaseForeignCurrencyFee: 10
                      transactionLimits:
                        - limit: 300
                          type: ATMWITHDRAWAL
                      promotions:
                        - type: New account opening 6 months zero interest rate
                          balance: 0
                          promotionApr: 0
                          balanceSubjectToInterestRate: 5000
                          daysInBillingCycle: 30
                          interestCharge: 8.0
                          startDate: 2025-01-02
                          endDate: 2025-07-02
                          transactionDate: 2025-04-02
                          specialTermsEndDate: 2025-07-02
                          balanceSubjectToDeferredInterest: 10000
                          deferredInterestCharge: 18.0
                          specialTermsBalance: 0
                      monthlyAccountFee: 5
                      accountClosureFee: 0
                      accountInactivityFee: 5
                      incomingTransferFee: 0
                      incomingWireFee: 0
                      nonsufficientFundsFee: 30
                      maximumMonthlyWithdrawals: 0
                      excessWithdrawalsFee: 0
                      overdraftFee: 30
                      overdraftFeeWaiverBalance: 0
                      overdraftFeeWaiverDebit: 0
                      dailyOverdraftFeesCap: 0
                      overdraftProtectionFee: 0
                      overdraftOptInProvision: true
                      overdraftAllowed: true
                      moneyOrderFee: 5
                      cashiersCheckFee: 0
                      domesticOutgoingWireFee: 30
                      internationalOutgoingWireFee: 45
                      returnedPaymentFee: 30
                      fixedFinanceChargeFee: 5
                      checkRedepositFee: 15
                      stopPaymentFee: 5
                      monthlyFeeWaiverDirectDeposit: 0
                      monthlyFeeWaiverBalance: 0
                      monthlyFeeWaiverBalanceType: string
                      interestRateTiers:
                        - apy: 1.0
                          minimumBalance: 0
                        - apy: 3.0
                          minimumBalance: 1000
                    current:
                      effectiveDate: 2021-07-15
                      transactionLimits:
                        - limit: 200
                          type: ATMWITHDRAWAL
                      monthlyAccountFee: 15
                Example Line of Credit Account terms and conditions JSON response including URIs and Rewards:
                  value:
                    productId: MyBank_RewardsCredit_003
                    uris:
                      - uri: 'http://www.fdx.org/products/PremiumCreditTerms.pdf'
                        title: Premium Credit Card Terms and Conditions
                        type: PDF
                        lang: en
                        effectiveDate: 2021-07-15
                        expireDate: 2099-12-31
                    rewardsTermsAndConditions:
                      rewardProgramId: PremiumCreditRewards_001
                      uris:
                        - uri: 'http://www.fdx.org/products/CreditRewardsTerms.pdf'
                          title: Credit Rewards Terms and Conditions
                          type: PDF
                          lang: en
                          effectiveDate: 2021-07-15
                          expireDate: 2099-12-31
                      baseEarning: Earn 1.5 Base Points for every $1 spent on Net Purchase
                      bonusEarning: Earn additional 1.5 Bonus Points for every $1 spent on Net Purchase
                      rewardType: CASHBACK
                      minimumRedemption: Redemption options start at 2,500 Points
                      expiration: Points do not expire
                      forfeiture: Points are subject to forfeiture due to closing of the card account
                      pointsCalculation: 1, 2, or 3 points per dollar purchase depending on category
                      basePointsCalculation: One point per dollar on most purchases
                      travelCreditRewards: Triple points are earned on travel purchases
                      cashRewards: Explanation of cash rewards
                      giftCardRewards: Explanation of gift card rewards
                      ineligible: Transaction and account fees are not eligible for rewards
                    accountCategory: LOC_ACCOUNT
                    initial:
                      effectiveDate: 2025-01-02
                      arbitrationProvision: true
                      cardReplacementFee: 0
                      paperStatementsFee: 0
                      domesticAtmFee: 0
                      foreignAtmForeignCurrencyAdvanceFee: 25
                      foreignAtmUsDollarAdvanceFee: 4
                      foreignPurchaseForeignCurrencyFee: 10
                      transactionLimits:
                        - limit: 300
                          type: ATMWITHDRAWAL
                        - limit: 1500
                          type: PERSONTOPERSON
                      promotions:
                        - type: New account opening 6 months zero interest rate
                          balance: 0
                          promotionApr: 0
                          balanceSubjectToInterestRate: 5000
                          daysInBillingCycle: 30
                          interestCharge: 8.0
                          startDate: 2025-01-02
                          endDate: 2025-07-02
                          transactionDate: 2025-04-02
                          specialTermsEndDate: 2025-07-02
                          balanceSubjectToDeferredInterest: 10000
                          deferredInterestCharge: 18.0
                          specialTermsBalance: 0
                      annualMembershipFee: 99
                      travelMembershipFee: 0
                      purchaseApr: 11.1
                      convenienceChecksFee: 0
                      minimumInterestCharge: 5
                      penaltyApr: 23.5
                      penaltyAprApplies: true
                      latePaymentFee: 45
                      overlimitFee: 30
                      transfersAndAdvances:
                        - type: BALANCE_TRANSFER
                          apr: 8.0
                          fee: 5
                          feePercentage: 3.0
                        - type: CASH_ADVANCE
                          apr: 11.0
                          fee: 15
                          feePercentage: 5.0
                    current:
                      transactionLimits:
                        - limit: 500
                          type: ATMWITHDRAWAL
                        - limit: 2500
                          type: PERSONTOPERSON
                      annualMembershipFee: 129
                      travelMembershipFee: 30
        '400':
          description: Accept header media type(s) sent by client are not supported
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Invalid Input:
                  value:
                    code: '401'
                    message: Invalid Input
                    debugMessage: Data Provider's custom developer-level error details for troubleshooting
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/transaction-images/{imageId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: getAccountTransactionImages
      tags:
        - Account Transactions
      description: Get account transaction image
      summary: Get account transaction image
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: '#/components/parameters/ImageIdPath'
      responses:
        '200':
          description: An image of transaction (such as a scanned check)
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Account or image with id not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Image Id not found for Transaction:
                  value:
                    code: '1103'
                    message: Image Id not found for Transaction
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '406':
          $ref: './fdxapi.components.yaml#/components/responses/406'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /accounts/{accountId}/transactions:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: searchForAccountTransactions
      tags:
        - Account Transactions
      description: >-
        Search for account transactions. Example:
        /accounts/{accountId}/transactions?startTime=value1&endTime=value2
      summary: Search for account transactions
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: './fdxapi.components.yaml#/components/parameters/StartTimeQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/EndTimeQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/StartDateQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/EndDateQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: >-
            Paginated collection of transactions, which can be one of BuyNowPayLaterTransaction,
            CommercialTransaction, DepositTransaction, DigitalWalletTransaction,
            InsuranceTransaction, InvestmentTransaction, LineOfCreditTransaction or LoanTransaction
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
              examples:
                Paginated Transactions:
                  value:
                    page:
                      nextOffset: '2'
                      total: 3
                    links:
                      next:
                        href: '/accounts/33333/transactions?offSet=2&limit=10'
                    transactions:
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10001'
                        transactionId: '20002'
                        postedTimestamp: '2017-11-05T13:15:30.751Z'
                        description: Direct deposit from XYZ Corp
                        debitCreditMemo: CREDIT
                        amount: 1200.42
                        payee: XYZ Corp
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10001'
                        transactionId: '20002'
                        postedTimestamp: '2017-11-05T13:15:31.751Z'
                        description: Withdrawal from ATM
                        debitCreditMemo: DEBIT
                        amount: 1200.42
                        payee: Account Owner
                Transaction with Rewards:
                  summary: Example of single transaction with associated reward
                  value:
                    transactions:
                      - accountCategory: LOC_ACCOUNT
                        accountId: '10001'
                        transactionId: '20003'
                        postedTimestamp: '2017-11-05T13:15:30.751Z'
                        description: Hotel Stay
                        debitCreditMemo: DEBIT
                        amount: 236
                        reward:
                          accrued: 472
                          adjusted: 0
                          categoryId: '293'
        '206':
          description: >-
            Partial success paginated list of transactions, which can be one of BuyNowPayLaterTransaction,
            CommercialTransaction, DepositTransaction, DigitalWalletTransaction,
            InsuranceTransaction, InvestmentTransaction, LineOfCreditTransaction or LoanTransaction
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /reward-programs:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: searchRewardPrograms
      tags:
        - Reward Program Information
      description: Query all reward programs
      summary: Search reward programs
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardPrograms'
              examples:
                Multiple Reward Programs:
                  summary: Example showing multiple reward programs
                  value:
                    rewardPrograms:
                      - programName: Marriott Bonvoy
                        rewardProgramId: 4FRCCQvGW0GZEMtsOQWlkQ
                        programUrl: https://www.marriott.com/loyalty.mi
                        memberships:
                          - accountIds:
                              - af0f8e58-9649-4c29-bab2-0295d522cd6f
                              - e75e31eb-bf04-4d87-9f20-4554f63a639e
                            businessOrConsumer: CONSUMER
                            customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                            memberId: 5ee28848b4f242a6b7a41e0daa03a824
                            memberNumber: '1783949940'
                            memberTier: Gold
                            balances:
                              - name: Points
                                type: POINTS
                                balance: 900
                                accruedYtd: 1000
                                redeemedYtd: 200
                                qualifying: false
                              - name: Promotional
                                type: POINTS
                                balance: 900
                                accruedYtd: 1000
                                redeemedYtd: 200
                                qualifying: false
                      - programName: United MileagePlus®
                        rewardProgramId: GY4cHWCPxkqgkY61h4BKdQ
                        programUrl: https://www.united.com/en/us/fly/mileageplus.html
                        memberships:
                          - accountIds:
                              - b4ef4572-452d-41bd-9d2d-1b29dafe63f0
                            businessOrConsumer: BUSINESS
                            customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                            memberId: b6b319dd3e2c4592847ad6ee32d518bc
                            memberNumber: '9394970669'
                            balances:
                              - name: Miles
                                type: MILES
                                balance: 900
                                accruedYtd: 1000
                                redeemedYtd: 200
                                qualifying: false
                      - programName: Starbucks Rewards
                        rewardProgramId: iqOtPUEYb0Go6SCL8As4fQ
                        programUrl: https://www.starbucks.com/rewards
                        memberships:
                          - accountIds:
                              - 89cf3262-ff38-4f6a-afbc-aafc50cac751
                            businessOrConsumer: CONSUMER
                            customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                            memberId: 95c1aeacd85e4783950a9c2d6e76efa9
                            memberNumber: '7417973194'
                            balances:
                              - name: Stars
                                type: POINTS
                                balance: 900
                                accruedYtd: 1000
                                redeemedYtd: 200
                                qualifying: false

  /reward-programs/{rewardProgramId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: getRewardProgram
      tags:
        - Reward Program Information
      description: Get a specific reward program
      summary: Get reward program
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/RewardProgramIdPath'
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardProgram'
              examples:
                Single Reward Program:
                  value:
                    programName: Discover Cashback Bonus
                    rewardProgramId: ywX9ME0FXUa6Mtj0xkOgtA
                    programUrl: https://www.discover.com/credit-cards/cashback-bonus/
                    memberships:
                      - accountIds:
                          - af0f8e58-9649-4c29-bab2-0295d522cd6f
                          - e75e31eb-bf04-4d87-9f20-4554f63a639e
                        businessOrConsumer: CONSUMER
                        customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                        memberId: b0a853a278804e1694d3104709cbfb58
                        memberNumber: '6137299224'
                        memberTier: Gold
                        balances:
                          - name: Cashback
                            type: CASHBACK
                            balance: 101.95
                            accruedYtd: 4500.1
                            redeemedYtd: 234.45
                            qualifying: false
                          - name: Cashback Match
                            type: CASHBACK
                            balance: 401.95
                            accruedYtd: 500.1
                            redeemedYtd: 134.45
                            qualifying: false
        '404':
          description: Reward program Id not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Reward program Id not found:
                  value:
                    code: '1101'
                    message: Reward program Id not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /reward-programs/{rewardProgramId}/categories:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [ANY]
    get:
      operationId: getRewardProgramCategories
      tags:
        - Reward Program Categories
      description: Get reward categories
      summary: Get reward categories
      x-fdx-csdf-account-categories: [ANY]
      parameters:
        - $ref: '#/components/parameters/RewardProgramIdPath'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Data describing a reward program's categories
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardCategories'
              examples:
                Multiple Reward Categories:
                  summary: Example response with multiple reward categories
                  value:
                    categories:
                      - categoryName: Amusement Park
                        categoryId: 100
                        multiplier: 1
                        description: >-
                          The Amusement Park category, including zoos, circuses and aquariums, covers
                          establishments that operate parks or carnivals and offer mechanical rides
                          and games and/or live animal shows.
                      - categoryName: Dining/Restaurant
                        categoryId: 101
                        multiplier: 2
                        description: >-
                          Merchants in the Dining/Restaurant category range from fast food restaurants
                          to fine dining establishments. They fall into the Dining category if they
                          primarily prepare food and drinks for immediate consumption on the premises
                          or for take-out. Dining merchants include bars, cocktail lounges, nightclubs,
                          taverns and fast-food restaurants. Some merchants that sell food and drinks
                          are located within larger establishments that sell other goods and services
                          and may not be not included in this category. For example a department store
                          or hotel restaurant, theme park cafes or discount store food counter would
                          not be categorized under Dining.
                      - categoryName: Entertainment
                        categoryId: 102
                        multiplier: 2
                        description: >-
                          Entertainment includes purchases made at sports promoters, movie theaters,
                          theatrical promoters, amusement parks, tourist attractions, record stores
                          and video rentals.
                      - categoryName: Hotels
                        categoryId: 103
                        multiplier: 5
                        description: >-
                          Hotels include businesses that provide sleeping or meeting room accommodations.
                          Some goods and services that appear on a hotel bill are included. Often
                          restaurants in hotels are categorized as a hotel purchase.
        '404':
          description: Request is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Reward program Id not found:
                  value:
                    code: '1101'
                    message: Reward program Id not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Categories not found for the reward program:
                  value:
                    code: '1102'
                    message: Categories not found for the reward program
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

components:

  securitySchemes:
    ############################################################
    #
    # Security Schemes
    #
    ############################################################

    OAuthFapi1Advanced:
      $ref: './fdxapi.components.yaml#/components/securitySchemes/OAuthFapi1Advanced'

  parameters:
    ############################################################
    #
    # Core request parameters
    #
    ############################################################

    AcceptLanguageHeader:
      name: Accept-Language
      in: header
      description: >-
        Use the [Accept-Language HTTP request header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Accept-Language)
        to indicate one or more languages to request for the response content in comma-separated string array format.
        English (code `en`) is the default if header is not sent. Spanish is `es` and French is `fr`.
        Provider may support any languages they choose
      schema:
        type: string
      required: false
      examples:
        Only Spanish:
          value:
            'Accept-Language: es'
        Multiple languages accepted:
          value:
            'Accept-Language: en,es'

    AccountIdPath:
      name: accountId
      in: path
      description: Account Identifier
      required: true
      schema:
        type: string

    ImageIdPath:
      name: imageId
      in: path
      description: Image Identifier
      required: true
      schema:
        type: string

    PaymentNetworkIdPath:
      name: paymentNetworkId
      in: path
      description: Payment network identifier for a bankId and account identifier pair,
        possibly used across multiple payment network types
      required: true
      schema:
        $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
      example: 'pymt-netwk-428a31'

    RewardProgramIdPath:
      name: rewardProgramId
      in: path
      description: Reward Program Identifier
      required: true
      schema:
        type: string

    StatementIdPath:
      name: statementId
      in: path
      description: Statement Identifier
      required: true
      schema:
        type: string

  schemas:
    ############################################################
    #
    # Core data entities
    #
    ############################################################

    Account:
      title: Account entity
      description: An abstract account entity that concrete account entities extend
      type: object
      x-fdx-csdf-account-categories: [ANY]
      allOf:
        - $ref: '#/components/schemas/AccountDescriptor'
        - type: object
          properties:
            lineOfBusiness:
              type: string
              description: >-
                The name of the line of business of this account, when type is OTHER
              x-fdx-csdf-account-categories: [ANY]
            lineOfBusinessType:
              $ref: '#/components/schemas/LineOfBusinessType'
              description: >-
                The enumerated line of business of this account, one of
                COMMERCIAL, CONSUMER, SMALL_BUSINESS, OTHER. For type OTHER,
                add your other line of business name in property `lineOfBusiness`
              x-fdx-csdf-account-categories: [ANY]
            routingTransitNumber:
              type: string
              description: >-
                The routing transit number (RTN) associated with the account number at the owning institution.
                FDX v6.3 adds separate bankInstitutionId and bankTransitId properties and deprecates the prior
                approach to use this field for concatenated Canadian institution IDs.
                Deprecated with FDX v6.4, instead return through the `getAccountPaymentNetworks` operation as `bankId`
                for U.S. institutions or `bankInstitutionId` and `bankTransitId` for Canadian institutions
              deprecated: true
            balanceType:
              $ref: '#/components/schemas/BalanceType'
              description: >-
                ASSET (positive transaction amount increases balance), LIABILITY
                (positive transaction amount decreases balance)
              x-fdx-csdf-account-categories: [ANY]
            contact:
              allOf:
                - $ref: '#/components/schemas/AccountContact'
              description: Contact information associated with this account.
                Deprecated in release V6.3.1 and will be removed in next major release.
                Provider should return contact in the getAccountContact operation
              deprecated: true
            interestRate:
              type: number
              description: Interest Rate of Account
                Deprecated with v6.4 in favor of specific named rates on Account subtypes
              deprecated: true
            interestRateType:
              allOf:
                - $ref: '#/components/schemas/InterestRateType'
              description: FIXED or VARIABLE
                Deprecated with v6.4 in favor of specific named rates on Account subtypes
              deprecated: true
            interestRateAsOf:
              allOf:
                - $ref: './fdxapi.components.yaml#/components/schemas/Timestamp'
              description: Date of account's interest rate
                Deprecated with v6.4 in favor of specific named rates on Account subtypes
              deprecated: true
            priorInterestRate:
              type: number
              description: Previous Interest Rate of Account
                Deprecated with v6.4 in favor of specific named rates on Account subtypes
              deprecated: true
            interestRateIndex:
              type: string
              description: >-
                Variable rate index name such as
                EONIA, EURIBOR, EURREPO, FEFUND, LIBOR, PRIME, SOFR, SONIA, etc.
                Deprecated with v6.4 in favor of specific named rates on Account subtypes
              deprecated: true
            earlyPenaltyFlag:
              type: boolean
              description: Flag that indicates if there is an early penalty for withdrawal/payoff
              x-fdx-csdf-account-categories: [REG_E]
            transferIn:
              type: boolean
              description: Account is eligible for incoming transfers from accounts at the same institution
              x-fdx-csdf-account-categories: [REG_E]
            transferOut:
              type: boolean
              description: Account is eligible for outgoing transfers to accounts at the same institution
              x-fdx-csdf-account-categories: [REG_E]
            billPayStatus:
              $ref: '#/components/schemas/AccountBillPayStatus'
              description: Defines account's ability to participate in bill payments
              x-fdx-csdf-account-categories: [REG_E]
            micrNumber:
              $ref: './fdxapi.components.yaml#/components/schemas/String64'
              description: >-
                Magnetic Ink Character Recognition (MICR) number for this account at the owning institution.
                Typically printed on the bottom of checks in two of three parts as
                  * Routing number: First on the left, the nine-character number identifies the financial institution;
                  * Account number: In the middle, an account number linked to the specific customer account;
                  * Check number: The four-character check number on the right (omitted here at the account level).
                This is sensitive data which should only be exchanged if encrypted
              x-fdx-csdf-account-categories: [REG_E]
            lastActivityDate:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
              description: Date that last transaction occurred on account
              x-fdx-csdf-account-categories: [ANY]
            rewardProgramId:
              $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
              description: Long-term persistent identity of rewards program associated with this account
              x-fdx-csdf-account-categories: [ANY]
            transactionsIncluded:
              type: boolean
              description: Default is false. The transactions field on each Account type
                was deprecated in release V6.3.1 and will be removed in next major release.
                Transactions are returned in the `searchForAccountTransactions` operation response
              deprecated: true
            bankInstitutionId:
              type: string
              pattern: ^[0-9]{3}$
              description: >-
                The Canadian 3-digit Institution (FID) associated with the account number, including leading zeros
            bankTransitId:
              type: string
              pattern: ^[0-9]{5}$
              description: >-
                The Canadian 5-digit Transit number associated with the account number, including leading zeros

    AccountContact:
      title: Account Contact entity
      description: Contact information for the account
      type: object
      x-fdx-csdf-account-categories: [ANY]
      allOf:
        - $ref: './fdxapi.components.yaml#/components/schemas/Contacts'
        - type: object
          properties:
            holders:
              type: array
              description: Owners of the account
              x-fdx-csdf-account-categories: [ANY]
              items:
                $ref: '#/components/schemas/AccountHolder'

    AccountDescriptor:
      title: Account Descriptor entity
      description: This descriptor provides minimal information about the account for use in lightweight arrays
      type: object
      x-fdx-csdf-account-categories: [ANY]
      required:
        - accountCategory
      discriminator:
        propertyName: accountCategory
      properties:
        accountCategory:
          $ref: '#/components/schemas/AccountCategory'
          description: The entity type of this Account
          x-fdx-csdf-account-categories: [ANY]
        accountId:
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
          description: >-
            Long-term persistent identity of the account, though not an account number.
            This identity must be unique to the owning institution
          x-fdx-csdf-account-categories: [ANY]
        parentAccountId:
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
          description: >-
            Long-term persistent identity of the parent account. This is
            used to group accounts
          x-fdx-csdf-account-categories: [ANY]
        error:
          $ref: './fdxapi.components.yaml#/components/schemas/Error'
          description: Present if an error was encountered while retrieving this account
          x-fdx-csdf-account-categories: [ANY]
        accountType:
          $ref: './fdxapi.components.yaml#/components/schemas/AccountType'
          description: Account type
          x-fdx-csdf-account-categories: [ANY]
        domicile:
          $ref: './fdxapi.components.yaml#/components/schemas/Domicile'
          description: The country and region of the account's legal jurisdiction
          x-fdx-csdf-account-categories: [ANY]
        accountNumber:
          description: >-
            Full account number for the end user for this account at the owning institution.
            If not masked this is sensitive data which should only be exchanged if encrypted.
            Deprecated with FDX v6.4, instead return through the `getAccountPaymentNetworks` operation
            as either `identifier` of `TOKENIZED_ACCOUNT_NUMBER` or as encrypted payload with
            `identifier` of `ACCOUNT_NUMBER`
          type: string
          deprecated: true
        accountNumberDisplay:
          type: string
          description: >-
            Account display number for the end user's handle at the owning
            institution. This is to be displayed by the Interface Provider
          x-fdx-csdf-account-categories: [ANY]
        productId:
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
          description: Unique ID of the marketed product for this account
          x-fdx-csdf-technical: true
        productName:
          type: string
          description: Marketed product name for this account. Used in UIs to assist in account selection
          x-fdx-csdf-account-categories: [ANY]
        nickname:
          type: string
          description: Name given by the user. Used in UIs to assist in account selection
          x-fdx-csdf-account-categories: [ANY]
        status:
          $ref: '#/components/schemas/AccountStatus'
          description: >-
            Account status. Suggested values are: OPEN, CLOSED, PENDINGOPEN, PENDINGCLOSE,
            PAID, DELINQUENT, NEGATIVECURRENTBALANCE, RESTRICTED
          x-fdx-csdf-account-categories: [ANY]
        description:
          type: string
          description: Description of account
          x-fdx-csdf-account-categories: [ANY]
        accountOpenDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Account opening date
          x-fdx-csdf-account-categories: [ANY]
        accountCloseDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Account closing date
          x-fdx-csdf-account-categories: [ANY]
        currency:
          $ref: '#/components/schemas/Currency'
          description: Account currency
          x-fdx-csdf-account-categories: [ANY]
        dataClusters:
          type: array
          description: >-
            An array of supported data cluster scopes for this account.
            I.e. ACCOUNT_DETAILED, TRANSACTIONS, STATEMENTS, REWARDS, etc.
          x-fdx-csdf-technical: true
          items:
            $ref: './fdxapi.components.yaml#/components/schemas/DataCluster'
        fiAttributes:
          type: array
          description: Array of Financial institution-specific attributes
          items:
            $ref: './fdxapi.components.yaml#/components/schemas/FiAttribute'

    AccountHolder:
      title: Account Holder entity
      description: >-
        Extends `Customer` and adds a `relationship` field to define the customer's
        relationship with an account
      type: object
      x-fdx-csdf-account-categories: [ANY]
      allOf:
        - $ref: './fdxapi.components.yaml#/components/schemas/Customer'
        - type: object
          properties:
            relationship:
              $ref: './fdxapi.components.yaml#/components/schemas/AccountHolderRelationship'
              description: "Customer's relationship to the account"
              x-fdx-csdf-account-categories: [ANY]

    AccountPaymentNetwork:
      title: Account Payment Network
      description: This provides details required to execute a transaction against the account
        within the payment network. Replaces data elements formerly on `AccountDescriptor` and `Account`.
        If identifier is `ACCOUNT_NUMBER` or `IBAN` this is sensitive data which should only be
        exchanged if encrypted. For detailed information on implementing encryption see the FDX CSDF API
        Security Model document's "Part 2 FDX Message Encryption" in the Security folder of the latest
        FDX Release download.
      type: object
      x-fdx-csdf-account-categories: [REG_E]
      properties:
        paymentNetworkId:
          type: string
          description: >-
            The unique identifier for a payment network pair of `bankId` and account `identifier`.
            Can be used across multiple payment network types if the `bankId` and account `identifier`
            pair are also valid across those payment network types. In that case lifecycle events
            and change requests for the `paymentNetworkId` may need to also specify the applicable
            payment network type(s)
          x-fdx-csdf-account-categories: [REG_E]
        bankId:
          type: string
          description: >-
            Bank identifier used by the payment network. Typically the 9-digit routing transit number (RTN)
            associated with the account number at a US institution. FDX v6.3 adds separate bankInstitutionId
            and bankTransitId properties and deprecates the prior approach to use this field for concatenated
            Canadian Institution IDs. Can also be BIC (SWIFT code) for international transfers or omitted
            entirely if not needed, such as for IBAN transfers or Canadian institutions.
          x-fdx-csdf-account-categories: [REG_E]
        bankIdType:
          $ref: '#/components/schemas/BankIdType'
          description: If not specified, bankId should be interpreted as ABA for US accounts
            and be omitted for Canadian accounts (which use bankInstitutionId and bankTransitId)
          x-fdx-csdf-account-categories: [REG_E]
        identifier:
          type: string
          description: >-
           The number used to identify the account within the payment network
          x-fdx-csdf-account-categories: [REG_E]
        identifierType:
          $ref: '#/components/schemas/PaymentNetworkIdentifierType'
          description: The type of account `identifier` e.g.
           `ACCOUNT_NUMBER`, `IBAN`, or `TOKENIZED_ACCOUNT_NUMBER`
          x-fdx-csdf-account-categories: [REG_E]
        status:
          $ref: '#/components/schemas/AccountPaymentNetworkStatus'
          description: Current status of the account `identifier` and `bankId` pair for this
            payment network, one of `ACTIVE`, `SUSPENDED` or `REVOKED`
          x-fdx-csdf-account-categories: [REG_E]
        type:
          $ref: '#/components/schemas/PaymentNetworkType'
          description: Type of Canadian or U.S. payment network
            on which the account can be used
          x-fdx-csdf-account-categories: [REG_E]
        transferIn:
          type: boolean
          description: Can transfer funds to the account using this information
          x-fdx-csdf-account-categories: [REG_E]
        transferOut:
          type: boolean
          description: Can transfer funds from the account over this payment network
          x-fdx-csdf-account-categories: [REG_E]
        supportsRequestForPayment:
          type: boolean
          description: Can receive Request for Payments
          x-fdx-csdf-account-categories: [REG_E]
        transferLimits:
          $ref: '#/components/schemas/TransferLimits'
          description: The amount limits for transfers over this payment network
          x-fdx-csdf-account-categories: [REG_E]
        bankInstitutionId:
          type: string
          pattern: ^[0-9]{3}$
          description: >-
            The Canadian 3-digit Institution (FID) associated with the account number, including leading zeros
        bankTransitId:
          type: string
          pattern: ^[0-9]{5}$
          description: >-
            The Canadian 5-digit Transit number associated with the account number, including leading zeros
      required:
        - bankId
        - identifier
        - identifierType
        - type
        # These five fields to also be made required with FDX major release v7.0
        # - bankIdType
        # - paymentNetworkId
        # - status
        # - transferIn
        # - transferOut

    AccountPaymentNetworks:
      title: Account Payment Networks
      description: An array of payment networks supported by the account.
        If array contains `ACCOUNT_NUMBER` identifiers which are not masked this is sensitive data
        which should only be exchanged if encrypted. For detailed information on implementing encryption
        see the FDX CSDF API Security Model document's "Part 2 FDX Message Encryption" in the Security folder
        of the latest FDX Release download
      type: object
      x-fdx-csdf-account-categories: [REG_E]
      properties:
        page:
          $ref: './fdxapi.components.yaml#/components/schemas/PageMetadata'
          description: Offset IDs for navigating result sets.
            Pagination for `/accounts/{accountId}/payment-network` is deprecated in v6.5
          deprecated: true
        links:
          $ref: './fdxapi.components.yaml#/components/schemas/PageMetadataLinks'
          description: Resource URLs for navigating result sets.
            Pagination for `/accounts/{accountId}/payment-network` is deprecated in v6.5
          deprecated: true
        paymentNetworks:
          type: array
          description: Array of payment networks
          x-fdx-csdf-account-categories: [REG_E]
          items:
            $ref: '#/components/schemas/AccountPaymentNetwork'

    Accounts:
      title: Accounts entity
      description: An optionally paginated array of accounts
      type: object
      x-fdx-csdf-account-categories: [ANY]
      allOf:
        - $ref: './fdxapi.components.yaml#/components/schemas/PaginatedArray'
        - type: object
          properties:
            accounts:
              type: array
              description: >-
                An array of accounts with entity types dependent on the
                account type (deposit, investment, loan, line of credit,
                annuity, insurance, commercial, or digital wallet)
              x-fdx-csdf-account-categories: [ANY]
              items:
                $ref: '#/components/schemas/AccountWithDetails'

    AccountWithDetails:
      title: Account With Details entity
      description: An instance of an account with full details
      type: object
      x-fdx-csdf-account-categories: [ANY]
      discriminator:
        propertyName: accountCategory
        mapping:
          ANNUITY_ACCOUNT: '#/components/schemas/AnnuityAccount'
          BNPL_ACCOUNT: '#/components/schemas/BuyNowPayLaterAccount'
          COMMERCIAL_ACCOUNT: '#/components/schemas/CommercialAccount'
          DEPOSIT_ACCOUNT: '#/components/schemas/DepositAccount'
          DIGITAL_WALLET: '#/components/schemas/DigitalWallet'
          INSURANCE_ACCOUNT: '#/components/schemas/InsuranceAccount'
          INVESTMENT_ACCOUNT: '#/components/schemas/InvestmentAccount'
          LOAN_ACCOUNT: '#/components/schemas/LoanAccount'
          LOC_ACCOUNT: '#/components/schemas/LineOfCreditAccount'
      oneOf:
        - $ref: '#/components/schemas/AnnuityAccount'
        - $ref: '#/components/schemas/BuyNowPayLaterAccount'
        - $ref: '#/components/schemas/CommercialAccount'
        - $ref: '#/components/schemas/DepositAccount'
        - $ref: '#/components/schemas/DigitalWallet'
        - $ref: '#/components/schemas/InsuranceAccount'
        - $ref: '#/components/schemas/InvestmentAccount'
        - $ref: '#/components/schemas/LineOfCreditAccount'
        - $ref: '#/components/schemas/LoanAccount'

    AnnuityAccount:
      title: Annuity Account entity
      description: An annuity account type
      type: object
      allOf:
        - $ref: '#/components/schemas/Account'
        - $ref: '#/components/schemas/AnnuityDetails'
        - type: object
          properties:
            # Constrain accountCategory for tooling compatibility
            accountCategory:
              const: ANNUITY_ACCOUNT
              description: The entity type of this account, in this case ANNUITY_ACCOUNT

    AnnuityDetails:
      title: Annuity Details entity
      description: The details of an annuity reported on either AnnuityAccount or AnnuitySecurity
      type: object
      properties:
        earnedInterest:
          $ref: '#/components/schemas/InterestRate'
          description: The periodic (usually monthly) interest rate earned on the account
        payoutType:
          $ref: '#/components/schemas/PayoutType'
          description: Indicates type of payout such as immediate or deferred
        policyProductType:
          $ref: '#/components/schemas/PolicyProductType'
          description: The type of annuity product, e.g. Fixed or Variable
        payoutAmount:
          type: number
          description: Amount paid out, based on mode frequency
        payoutMode:
          $ref: '#/components/schemas/PayoutMode'
          description: Frequency of annuity payments
        payoutStartDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Date the payout starts
        payoutEndDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Date the payout ends
        numberModalPayouts:
          type: integer
          description: Total number of payouts
        surrenderValue:
          type: number
          description: Cash surrender value (net) available if contract is surrendered
        payoutChangePercentage:
          type: number
          description: Percentage of the accumulated value to be paid to the payee each year; used exclusive of payoutChangeAmount
        payoutChangeAmount:
          type: number
          description: Incremental modal amount (positive or negative) by which the payout amount will be changed; used exclusive of payoutPercentage
        periodCertainType:
          $ref: '#/components/schemas/PeriodCertainType'
          description: The number of modal periods comprising the duration of the certain period of an annuity payout

    AnnuitySecurity:
      title: Annuity Security entity
      description: An Annuity held on an investment account
      type: object
      allOf:
        - $ref: '#/components/schemas/Security'
        - $ref: '#/components/schemas/AnnuityDetails'
        - type: object
          properties:
[...]
