openapi: 3.1.0
info:
  version: '6.5.0'
  title: FDX V6.5.0 US Tax API
  description: Financial Data Exchange V6.5.0 US Tax API
  contact:
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
    email: fdxsupport@financialdataexchange.org
  license:
    name: FDX API License Agreement (11-13-2019)
    url: 'https://financialdataexchange.org/common/Uploaded%20files/Policies/FDX%20API%20License%20Agreement-(11-13-2019).pdf'
servers:
  - url: 'https://api.fi.com/fdx/v6'
    description: Financial Data Exchange V6 US Tax API
tags:
  - name: Submit Tax Forms
    description: Submit vendor-produced customer tax reporting documents and data to providers
  - name: Tax Forms
    description: Search and retrieve customer tax reporting documents and data
paths:
  ############################################################
  #
  # US Tax paths
  #
  ############################################################

  /tax-forms:
    parameters:
      - $ref: '#/components/parameters/AuthorizationHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    get:
      operationId: searchForTaxForms
      summary: Search tax forms
      description: Get the full lists of tax document data and tax form images
        available for a specific year for the current authorized customer
      tags:
        - Tax Forms
      security:
        - TaxBasicAuth: []
        - OAuthFapi1Advanced:
            - fdx:tax:read
      parameters:
        - $ref: '#/components/parameters/AccountIdQuery'
        - $ref: '#/components/parameters/TaxYearQuery'
        - $ref: '#/components/parameters/TaxFormsQuery'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/TaxDataTypeQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/ResultTypeQuery'
      responses:
        '200':
          description: Array of all the tax document data and tax form
            images available for the customer matching search criteria
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/zip:
              schema:
                description: All the document image(s) downloaded as a zip file, containing one or more forms
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/TaxStatementList'
              examples:
                ResultType lightweight Search Response with Forms 1099-DIV and 1099-INT:
                  value:
                    statements:
                      - taxYear: 2020
                        taxStatementId: "9876987698769876"
                        attributes:
                          - name: "federalTaxWithheld"
                            value: "4014.00"
                        taxDataType: JSON
                        forms:
                          - tax1099Div:
                              taxYear: 2020
                              taxFormId: "9876987698769876"
                              taxFormDate: 2021-03-30
                              additionalInformation: FDX v6.0
                              taxFormType: Tax1099Div
                      - taxYear: 2020
                        taxStatementId: "6543654365436543"
                        attributes:
                          - name: "federalTaxWithheld"
                            value: "4011.00"
                        taxDataType: JSON
                        forms:
                          - tax1099Int:
                              taxYear: 2020
                              taxFormId: "6543654365436543"
                              taxFormDate: 2021-03-30
                              additionalInformation: FDX v6.0
                              taxFormType: Tax1099Int
                ResultType details Search Response with Form 1098:
                  value:
                    statements:
                      - taxYear: 2023
                        taxStatementId: ID-09990111
                        issuer:
                          tin: 12-3456789
                          partyType: BUSINESS
                          businessName:
                            name1: Financial Intelligence Associates
                          address:
                            line1: 12022 Sundown Valley Dr
                            line2: Suite 230
                            city: Reston
                            region: VA
                            postalCode: "20191"
                            country: US
                          phone:
                            number: "8885551212"
                        recipient:
                          tin: xxx-xx-1234
                          partyType: INDIVIDUAL
                          individualName:
                            first: Kris
                            middle: Q
                            last: Public
                          address:
                            line1: 1 Main St
                            city: Melrose
                            region: NY
                            postalCode: "12121"
                            country: US
                        forms:
                          - tax1098:
                              taxYear: 2023
                              taxFormId: ID-09990111-1098
                              taxFormDate: 2024-02-15
                              taxFormType: Tax1098
                              mortgagedProperties: 9
                              otherInformation: "10. Property tax: $10,017.00"
                              accountNumber: 111-23456
                              mortgageInterest: 1008
                              outstandingPrincipal: 200900
                              originationDate: 2022-03-10
                              overpaidRefund: 4011
                              mortgageInsurance: 5012
                              pointsPaid: 6013
                              isPropertyAddressSameAsBorrowerAddress: true
                              acquisitionDate: 2022-11-15
                              propertyTax: 10017
        '206':
          description: Partial Content success searching for customer Tax Data forms,
            some errors are being returned
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxStatementList'
              examples:
                Lightweight Response With Error:
                  value:
                    statements:
                      - taxYear: 2020
                        taxStatementId: "9876987698769876"
                        attributes:
                          - name: "federalTaxWithheld"
                            value: "4014.00"
                        taxDataType: JSON
                        forms:
                          - tax1099Div:
                              taxYear: 2020
                              taxFormId: "9876987698769876"
                              taxFormDate: 2021-03-30
                              additionalInformation: FDX v6.0
                              taxFormType: Tax1099Div
                      - taxYear: 2020
                        taxDataType: JSON
                        forms:
                          - tax1099Int:
                              taxYear: 2020
                              taxFormType: Tax1099Int
                              error:
                                code: '1205'
                                message: Tax Forms not yet been made available
                                debugMessage: 1099-INT forms should be available after 02-01-2021
        '400':
          description: Request is invalid or parameter values are not supported
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Tax Year not Supported:
                  value:
                    code: '1202'
                    message: Tax Year not Supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Tax Form Type not supported:
                  value:
                    code: '1201'
                    message: Tax Form Type not supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Account ID is required:
                  value:
                    code: '1204'
                    message: Account ID is required
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Tax Form not Found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Tax Form not Found:
                  value:
                    code: '1200'
                    message: Tax Form not Found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '406':
          $ref: './fdxapi.components.yaml#/components/responses/406'
        '409':
          description: Tax forms are not currently available for this account or this year
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Operation not supported by Closed account:
                  value:
                    code: '705'
                    message: Tax Forms not available for Closed account
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Tax Forms not yet been made available:
                  value:
                    code: '1205'
                    message: Tax Forms not yet been made available
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    post:
      operationId: createTaxForm
      summary: Create tax form
      description: Submit the data for a specific tax document
      tags:
        - Submit Tax Forms
      security:
        - OAuthFapi1Baseline: []
      requestBody:
        content:
          application/json:
            schema:
              description: The full data contents of the tax document and all its included forms including the indexing metadata values
              $ref: '#/components/schemas/TaxStatement'
      responses:
        '201':
          description: Created document for the tax data submitted
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                description: The full data contents of the tax document and all its included forms as ingested
                $ref: '#/components/schemas/TaxStatement'
        '206':
          description: Partial Content success creating customer tax document, some errors are being returned
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                description: The data contents of the tax document as ingested, with Errors on some included forms
                $ref: '#/components/schemas/TaxStatement'
        '400':
          description: Tax Form type is not supported
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Tax Form type is not supported:
                  value:
                    code: '1201'
                    message: Tax Form type is not supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Tax Year not supported:
                  value:
                    code: '1202'
                    message: Tax Year not supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Account ID is required:
                  value:
                    code: '1204'
                    message: Account ID is required
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /tax-forms/{taxFormId}:
    parameters:
      - $ref: '#/components/parameters/TaxFormIdPath'
      - $ref: '#/components/parameters/AuthorizationHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    get:
      operationId: getTaxForm
      summary: Retrieve tax form
      description: >-
        Get the form image or TaxStatement as json for a single tax document for the customer. Use
        [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)
        to specify desired content types. See `AcceptHeader` definition for typical values
      tags:
        - Tax Forms
      security:
        - TaxBasicAuth: []
        - OAuthFapi1Advanced:
            - fdx:tax:read
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/TaxDataTypeQuery'
      responses:
        '200':
          description: >-
            The document image or TaxStatement as json for a single tax document
            for the customer. A single document can include multiple IRS tax forms
            and/or other reporting statements as delivered by providers
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/pdf:
              schema:
                description: The document image downloaded as pdf
                type: string
                format: binary
            application/zip:
              schema:
                description: The document image downloaded as zip file, containing one or more form images
                type: string
                format: binary
            image/gif:
              schema:
                description: The document image downloaded as gif
                type: string
                format: binary
            image/jpeg:
              schema:
                description: The document image downloaded as jpeg
                type: string
                format: binary
            image/tiff:
              schema:
                description: The document image downloaded as tiff
                type: string
                format: binary
            image/png:
              schema:
                description: The document image downloaded as png
                type: string
                format: binary
            application/json:
              schema:
                description: >-
                  The TaxStatement json for a single tax document containing
                  one or more tax reporting forms for the customer
                $ref: '#/components/schemas/TaxStatement'
              examples:
                Tax1099Div and Tax1099Int:
                  value:
                    taxYear: 2020
                    taxStatementId: "1234123412341234"
                    attributes:
                      - name: "Total tax withheld"
                        value: "8025.00"
                    issuer:
                      tin: 12-3456789
                      partyType: BUSINESS
                      businessName:
                        name1: Financial Data Exchange
                      address:
                        line1: 12020 Sunrise Valley Dr
                        line2: Suite 230
                        city: Reston
                        region: VA
                        postalCode: "20191"
                        country: US
                      phone:
                        number: "8885551212"
                    recipient:
                      tin: xxx-xx-1234
                      partyType: INDIVIDUAL
                      individualName:
                        first: Kris
                        middle: Q
                        last: Public
                      address:
                        line1: 1 Main St
                        city: Melrose
                        region: NY
                        postalCode: "12121"
                        country: US
                    taxDataType: JSON
                    forms:
                      - tax1099Div:
                          taxYear: 2020
                          taxFormId: "9876987698769876"
                          taxFormDate: 2021-03-30
                          additionalInformation: FDX v6.0
                          taxFormType: Tax1099Div
                          foreignAccountTaxCompliance: false
                          accountNumber: 111-5555555
                          ordinaryDividends: 1107.0
                          qualifiedDividends: 1208.0
                          totalCapitalGain: 2109.0
                          unrecaptured1250Gain: 2210.0
                          section1202Gain: 2311.0
                          collectiblesGain: 2412.0
                          nonTaxableDistribution: 3013.0
                          federalTaxWithheld: 4014.0
                          section199ADividends: 5015.0
                          investmentExpenses: 6016.0
                          foreignTaxPaid: 7017.0
                          foreignCountry: Mexico
                          cashLiquidation: 9019.0
                          nonCashLiquidation: 10020.0
                          taxExemptInterestDividend: 11021.0
                          specifiedPabInterestDividend: 12022.0
                          stateAndLocal:
                            - stateCode: NY
                              state:
                                taxWithheld: 15023.0
                                taxId: 14-000023
                      - tax1099Int:
                          taxYear: 2020
                          taxFormId: "6543654365436543"
                          taxFormDate: 2021-03-30
                          additionalInformation: FDX v6.0
                          taxFormType: Tax1099Int
                          foreignAccountTaxCompliance: false
                          accountNumber: 111-5555555
                          payerRtn: "007007007"
                          interestIncome: 1008.0
                          earlyWithdrawalPenalty: 2009.0
                          usBondInterest: 3010.0
                          federalTaxWithheld: 4011.0
                          investmentExpenses: 5012.0
                          foreignTaxPaid: 6013.0
                          foreignCountry: Canada
                          taxExemptInterest: 8015.0
                          specifiedPabInterest: 9016.0
                          marketDiscount: 10017.0
                          bondPremium: 11018.0
                          usBondPremium: 12019.0
                          taxExemptBondPremium: 13020.0
                          cusipNumber: CUSIP
                          stateAndLocal:
                            - stateCode: NY
                              state:
                                taxWithheld: 17022.0
                                taxId: 15-000022
        '206':
          description: Partial Content success retrieving a customer tax document, some errors are being returned
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                description: >-
                  The TaxStatement json for a single tax document containing one or more
                  tax reporting forms for the customer, one or more of which contain an Error
                $ref: '#/components/schemas/TaxStatement'
        '400':
          description: Account ID is required for searching or validating authorization
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Tax Form not Found:
                  value:
                    code: '1204'
                    message: Account ID is Required
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Tax Form for provided Tax Form ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Tax Form not Found:
                  value:
                    code: '1200'
                    message: Tax Form not Found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '406':
          $ref: './fdxapi.components.yaml#/components/responses/406'
        '409':
          description: Tax forms are not currently available for this account or this year
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Account is Closed:
                  value:
                    code: '705'
                    message: Account is Closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Tax Forms not yet been made available:
                  value:
                    code: '1205'
                    message: Tax Forms not yet been made available
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    put:
      operationId: updateTaxForm
      summary: Update tax form
      description: Update tax document. Allows you to upload and replace binaries or json document
      tags:
        - Submit Tax Forms
      security:
        - OAuthFapi1Baseline: []
      requestBody:
        content:
          application/json:
            schema:
              description: The full data contents of the document and all its contained forms including the indexing metadata values
              $ref: '#/components/schemas/TaxStatement'
          application/pdf:
            schema:
              description: The document image to upload as pdf
              type: string
              format: binary
          image/gif:
            schema:
              description: The document image to upload as gif
              type: string
              format: binary
          image/jpeg:
            schema:
              description: The document image to upload as jpeg
              type: string
              format: binary
          image/tiff:
            schema:
              description: The document image to upload as tiff
              type: string
              format: binary
          image/png:
            schema:
              description: The document image to upload as png
              type: string
              format: binary
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
        '206':
          description: Partial Content success updating customer tax document, some errors are being returned
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                description: The data contents of the tax document as updated, with Errors on some included forms
                $ref: '#/components/schemas/TaxStatement'
        '415':
          description: Server does not support the content type uploaded
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'

components:

  securitySchemes:
    ############################################################
    #
    # Security Schemes
    #
    ############################################################

    OAuthFapi1Baseline:
      $ref: './fdxapi.components.yaml#/components/securitySchemes/OAuthFapi1Baseline'

    OAuthFapi1Advanced:
      $ref: './fdxapi.components.yaml#/components/securitySchemes/OAuthFapi1Advanced'

    TaxBasicAuth:
      type: http
      scheme: basic

  parameters:
    ############################################################
    #
    # US Tax request parameters
    #
    ############################################################

    AcceptHeader:
      name: Accept
      in: header
      description: >-
        Use the [Accept HTTP request header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept)
        to indicate one or more content types to request for the search result response. Use `application/json`
        to request data, `application/pdf`, `application/zip` or `image/*` MIME-types to
        request images. In comma-separated array format using values typically from
        './fdxapi.components.yaml#/components/schemas/ContentTypes' enumeration.
        Use in combination with TaxDataTypeQuery parameter to request `application/json`
        responses in 'JSON' or 'BASE64_PDF' format for tax form data
      schema:
        type: string
      required: true
      examples:
        Only JSON data:
          value:
            'Accept: application/json'
        Multiple types accepted:
          value:
            'Accept: application/json, application/zip'

    AccountIdQuery:
      name: accountId
      in: query
      description: Account Identifier for use in searching or authorization. Optional
      schema:
        type: string

    AuthorizationHeader:
      name: Authorization
      in: header
      description: >-
        The [Authorization HTTP request header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization)
        provides credentials to allow access to a protected resources
      schema:
        type: string
      required: true
      examples:
        OAuthFapi2Advanced OAuth 2.0 securityScheme example:
          summary: Follows published FDX API standard OAuth 2.0 security requirements
          description: See [IETF RFC 6750](https://datatracker.ietf.org/doc/html/rfc6750)
            regarding OAuth 2.0 bearer tokens to access protected resources
          value:
            # yamllint disable-line rule:line-length
            'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkZEWCBUYXggVEYgUnVsZXMiLCJpYXQiOjE1MTYyMzkwMjJ9.SZGaxSt9EXqK1GbYTckZbygBDiqS1KaZybzzqf2VxOw'
        OAuthFapi1Baseline securityScheme example:
          summary: Follows published FDX API Data Receiving Entity credentials-based security
          description: See [IETF RFC 7617](https://datatracker.ietf.org/doc/html/rfc7617)
            regarding base64-encoded Basic tokens to access protected resources
          value:
            'Authorization: Basic (Base64 of client_id:client_secret)'
        TaxBasicAuth securityScheme example:
          summary: Follows published FDX Tax Document Alternate Authentication v2023
          description: Also following IETF RFC 7617 Basic Authorization
          value:
            'Authorization: Basic (Base64 of documentId:documentPasscode)'

    TaxDataTypeQuery:
      name: taxDataType
      in: query
      description: Use taxDataType to request `application/json` tax form data response
        in 'JSON' or 'BASE64_PDF' format. Omit if either format is acceptable.
        Used in combination with AcceptHeader requesting `application/json` response
      schema:
        $ref: '#/components/schemas/TaxDataType'

    TaxFormIdPath:
      name: taxFormId
      in: path
      description: The unique ID for this tax form or tax statement
      required: true
      schema:
        $ref: './fdxapi.components.yaml#/components/schemas/Identifier'

    TaxFormsQuery:
      name: taxForms
      in: query
      description: One or more tax form type enums for the specific documents being requested. Comma separated
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TaxFormType'

    TaxYearQuery:
      name: taxYear
      in: query
      description: Tax year in which to search for tax forms. Optional
      schema:
        $ref: '#/components/schemas/TaxYear'

  schemas:
    ############################################################
    #
    # US Tax data entities
    #
    ############################################################

    BasicAuthCredentials:
      title: Basic Auth Credentials
      description: Tax form credentials container for QR Code purposes
      type: object
      properties:
        taxYear:
          description: Year for which taxes are being paid
          $ref: '#/components/schemas/TaxYear'
        taxFormType:
          description: Enumerated name of the tax form entity e.g. "TaxW2"
          $ref: '#/components/schemas/TaxFormType'
        id:
          description: Confidential and unique identifier of the tax form
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
        passcode:
          description: Unique, randomized and restricted password for this document
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'

    BasicAuthForQR:
      title: Basic Auth for QR
      description: Tax form credentials container for QR Code purposes
      type: object
      properties:
        basicAuth:
          description: The Basic Authentication credentials to retrieve a tax form
          $ref: '#/components/schemas/BasicAuthCredentials'
        version:
          description: >-
            [Financial Data Exchange (FDX)](https://financialdataexchange.org/) schema version number (e.g. "V5.0").
          $ref: './fdxapi.components.yaml#/components/schemas/FdxVersion'
        softwareId:
          description: The FDX registration ID of company or software generating this tax data
          type: string
      # Basic Auth for a large 1099-B:
      example:
        basicAuth:
          taxYear: 2023
          taxFormType: Tax1099B
          id: 00677560089990B1
          passcode: PK2Z-0QP-L6EF
        version: V5.0
        softwareId: OakTreeSecurities

    BusinessIncomeStatement:
      title: Business Income Statement
      description: Business Income Statement for IRS Form 1040 Schedule C
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            businessName:
              type: string
              description: Box C, Business name
            sales:
              type: number
              description: Box 1, Gross receipts or sales
            returns:
              type: number
              description: Box 2, Returns and allowances
            otherIncome:
              type: array
              description: Box 6, Other income, including federal and state gasoline
                or fuel tax credit or refund
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            advertising:
              type: number
              description: Box 8, Advertising
            carAndTruck:
              type: number
              description: Box 9, Car and truck expenses
            commissions:
              type: number
              description: Box 10, Commissions and fees
            contractLabor:
              type: number
              description: Box 11, Contract labor
            depletion:
              type: number
              description: Box 12, Depletion
            depreciation:
              type: number
              description: Box 13, Depreciation
            employeeBenefits:
              type: number
              description: Box 14, Employee benefit programs
            insurance:
              type: number
              description: Box 15, Insurance
            mortgageInterest:
              type: number
              description: Box 16a, Mortgage interest
            otherInterest:
              type: number
              description: Box 16b, Other interest
            legal:
              type: number
              description: Box 17, Legal and professional services
            office:
              type: number
              description: Box 18, Office expense
            pension:
              type: number
              description: Box 19, Pension and profit-sharing plans
            equipmentRent:
              type: number
              description: Box 20a, Equipment rent
            otherRent:
              type: number
              description: Box 20b, Other rent
            repairs:
              type: number
              description: Box 21, Repairs and maintenance
            supplies:
              type: number
              description: Box 22, Supplies
            taxes:
              type: number
              description: Box 23, Taxes and licenses
            travel:
              type: number
              description: Box 24a, Travel
            meals:
              type: number
              description: Box 24b, Deductible meals
            utilities:
              type: number
              description: Box 25, Utilities
            wages:
              type: number
              description: Box 26, Wages
            otherExpenses:
              type: array
              description: Box 27, Other expenses
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            beginningInventory:
              type: number
              description: Box 35, Inventory at beginning of year
            purchases:
              type: number
              description: Box 36, Purchases
            costOfLabor:
              type: number
              description: Box 37, Cost of labor
            materials:
              type: number
              description: Box 38, Materials and supplies
            otherCosts:
              type: array
              description: Box 39, Other costs
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            endingInventory:
              type: number
              description: Box 41, Inventory at end of year
            capitalExpenditures:
              type: array
              description: Capital expenditures, for use in calculating Depreciation
              items:
                $ref: '#/components/schemas/DateAmount'

    CodeAmount:
      title: Code and Amount
      description: Code and amount pair used on IRS W-2, K-1, etc.
      type: object
      properties:
        code:
          description: Code
          type: string
        amount:
          description: Amount
          type: number

    CryptocurrencyGainOrLoss:
      title: Gain or loss from cryptocurrency transaction
      description: Tax information for a single cryptocurrency transaction.
        Replaced summer of 2025 by Tax1099Da for IRS form 1099-DA
      type: object
      deprecated: true
      properties:
        cryptocurrencyName:
          description: Cryptocurrency name (e.g. Bitcoin)
          type: string
        symbol:
          description: Cryptocurrency abbreviation or symbol (e.g. BTC)
          type: string
        quantity:
          description: Quantity (e.g. 0.0125662)
          type: number
        saleDescription:
          description: Description of property (1099-B box 1a)
          type: string
        dateAcquired:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Date acquired (1099-B box 1b)
        variousDatesAcquired:
          type: boolean
          description: Acquired on various dates (1099-B box 1b)
        dateOfSale:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Date sold or disposed (1099-B box 1c)
        salesPrice:
          description: Proceeds (not price per share, 1099-B box 1d)
          type: number
        costBasis:
          description: Cost or other basis (1099-B box 1e)
          type: number
        longOrShort:
          $ref: '#/components/schemas/SaleTermType'
          description: LONG or SHORT (1099-B box 2)

    CryptocurrencyTaxStatement:
      title: Cryptocurrency Tax Statement list
      description: Array of cryptocurrency gains and losses.
        Replaced summer of 2025 by Tax1099Da for IRS form 1099-DA
      type: object
      deprecated: true
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            gainsAndLosses:
              type: array
              description: The list of cryptocurrency gains and losses
              items:
                $ref: '#/components/schemas/CryptocurrencyGainOrLoss'

    DateAmount:
      title: Date and Amount
      description: Date, description, and amount. When used in 1098-Q, description is optional
      type: object
      properties:
        date:
          description: Date of amount. When used in 1098-Q, date of last payment in month
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
        description:
          description: Description of amount. When used in 1098-Q, may use MonthAbbreviation
          type: string
        amount:
          type: number
          description: Amount of payment or receipt. When used in 1098-Q, monthly total

    DescriptionAmount:
      title: Description and Amount
      description: Description and amount pair used on IRS W-2, etc.
      type: object
      properties:
        description:
          description: Description
          type: string
        amount:
          description: Amount
          type: number

    DigitalAssetDetail:
      title: Digital Asset Detail, IRS Form 1099-DA
      description: Tax information for a single digital asset transaction.
        If reported on Form 1099-B, use Tax1099B and SecurityDetail instead
      type: object
      properties:
        adjustmentCodes:
          description: Other adjustments (code and amount)
          type: array
          items:
            $ref: '#/components/schemas/CodeAmount'
        incomplete:
          type: boolean
          description: This transaction is known to contain incomplete information
        exception1:
          type: boolean
          description: This transaction is to be reported on Form 1040 Schedule D,
            either line 1a for short-term transactions or line 8a for long-term transactions
        taxStatementId:
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
          description: ID for a PDF statement delivered in this `TaxStatementList` adjacent to this tax form,
            which would contain the full details of the multiple transactions of this `DigitalAssetDetail` record
        multiple:
          type: boolean
          description: This transaction represents multiple transactions reported on a
            separate statement under Exception 2. Code M is shown on Form 8949 column (f)
        cusip:
          description: CUSIP number or other applicable ID number of the digital asset
          type: string
        checkboxOnForm8949:
          description: Applicable checkbox on Form 8949. Use code `G`, `H`, `J`, `K` or `Y`.
          type: string
        digitalAssetCode:
          description: Box 1a, Code for digital asset. The 9 alphanumeric characters of the
            Digital Token Identification Foundation (DTIF) code associated with the name of
            the digital asset shown in box 1b for which the amounts are being reported. If the
            digital asset is not registered with DTIF, enter `999999999`
          type: string
          minLength: 9
          maxLength: 9
          default: '999999999'
        digitalAssetName:
          description: Box 1b, Name of digital asset as registered with the Digital Token
            Identification Foundation (DTIF) for the digital asset code in box 1a
          type: string
        units:
          description: Box 1c, Number of digital asset units sold, exchanged or disposed of
            in the transaction up to 18 decimal places
          type: string
        dateAcquired:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Box 1d, The original date the assets were acquired
        variousDatesAcquired:
          type: boolean
          description: Whether Form 8949 should reflect various acquisition dates
        dateOfSale:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Box 1e, Date sold or disposed
        proceeds:
          description: Box 1f, Total proceeds (not price per unit)
          type: number
        costBasis:
          description: Box 1g, Cost or other basis
          type: number
        accruedMarketDiscount:
          description: Box 1h, Amount of accrued market discount
          type: number
        washSaleLossDisallowed:
          description: Box 1i, Wash sale loss disallowed
          type: number
        basisReported:
          type: boolean
          description: Box 2, Whether basis was reported to IRS
        grossOrNet:
          $ref: '#/components/schemas/SaleProceedsType'
          description: 'Box 3a, Reported to IRS: GROSS or NET proceeds'
        qof:
          type: boolean
          description: Box 3b, Proceeds from Qualified Opportunity Fund (QOF)
        federalTaxWithheld:
          description: Box 4, Federal income tax withheld
          type: number
        lossNotAllowed:
          type: boolean
          description: Box 5, True if loss is not allowed based on proceeds
        longOrShort:
          $ref: '#/components/schemas/SaleTermType'
          description: Box 6, Gain or loss was LONG or SHORT
        ordinary:
          type: boolean
          description: Box 6, Whether gain or loss was Ordinary
        cash:
          type: boolean
          description: Box 7, Whether proceeds in 1f are only cash
        customerInformation:
          type: boolean
          description: Box 8, Whether broker relied on customer-provided acquisition information
        noncoveredSecurity:
          type: boolean
          description: Box 9, Whether digital asset is a noncovered security
        stablecoinProceeds:
          type: boolean
          description: Box 11a, Whether aggregate gross proceeds in 1f are qualifying stablecoins
        nftProceeds:
          type: boolean
          description: Box 11a, Whether aggregate gross proceeds in 1f are specified Non-Fungible Tokens (NFTs)
        numberOfTransactions:
          description: Box 11b, The number of transactions if aggregate gross proceeds in 11a are
            qualifying stablecoins or specified NFTs
          type: number
        firstSaleProceeds:
          description: Box 11c, For reporting the sale of specified NFTs, amount of the gross proceeds
            that are attributable to first sales by creator or minter, not entered in Box 1f
          type: number
        unitsTransferredIn:
          description: Box 12a, The number of units transferred into custodial account, up to 18 decimal places
          type: string
        transferInDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Box 12b, If transferred in, the transfer-in date
        stateAndLocal:
          description: Boxes 14-16, State and Local tax withholding
          type: array
          items:
            $ref: '#/components/schemas/StateAndLocalTaxWithholding'

    FarmIncomeStatement:
      title: Farm Income Statement
      description: Farm Income Statement for IRS Form 1040 Schedule F
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            cropOrActivity:
              type: string
              description: Box A, Principal crop or activity
            sales:
              type: number
              description: Box 1a, Sales of livestock and other resale items
            costOfItemsSold:
              type: number
              description: Box 1b, Cost or other basis of livestock or other items
            salesOfRaised:
              type: number
              description: Box 2, Sales of livestock, produce, grains, and other products
                you raised
            coopDistributions:
              type: number
              description: Box 3a, Cooperative distributions
            agProgramPayments:
              type: number
              description: Box 4a, Agricultural program payments
            cccLoans:
              type: number
              description: Box 5a, Commodity Credit Corporation (CCC) loans reported
                under election
            cropInsuranceProceeds:
              type: number
              description: Box 6a, Crop insurance proceeds and federal crop disaster
                payments
            customHireIncome:
              type: number
              description: Box 7, Custom hire (machine work) income
            otherIncome:
              type: array
              description: Box 8, Other income
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            carAndTruck:
              type: number
              description: Box 10, Car and truck expenses
            chemicals:
              type: number
              description: Box 11, Chemicals
            conservation:
              type: number
              description: Box 12, Conservation expenses
            customHireExpenses:
              type: number
              description: 'Box 13, Custom hire (machine work) '
            depreciation:
              type: number
              description: Box 14, Depreciation
            employeeBenefitPrograms:
              type: number
              description: Box 15, Employee benefit programs
            feed:
              type: number
              description: Box 16, Feed
            fertilizers:
              type: number
              description: Box 17, Fertilizers and lime
            freight:
              type: number
              description: Box 18, Freight and trucking
            fuel:
              type: number
              description: Box 19, Gasoline, fuel, and oil
            insurance:
              type: number
              description: Box 20, Insurance (other than health)
            mortgageInterest:
              type: number
              description: Box 21a, Mortgage Interest
            otherInterest:
              type: number
              description: Box 21b, Other interest
            laborHired:
              type: number
              description: Box 22, Labor hired
            pension:
              type: number
              description: Box 23, Pension and profit-sharing plans
            equipmentRent:
              type: number
              description: 'Box 24a, Rent or lease: Vehicles, machinery, equipment'
            otherRent:
              type: number
              description: 'Box 24b, Rent or lease: Other'
            repairs:
              type: number
              description: Box 25, Repairs and maintenance
            seeds:
              type: number
              description: Box 26, Seeds and plants
            storage:
              type: number
              description: Box 27, Storage and warehousing
            supplies:
              type: number
              description: Box 28, Supplies
            taxes:
              type: number
              description: Box 29, Taxes
            utilities:
              type: number
              description: Box 30, Utilities
            veterinary:
              type: number
              description: Box 31, Veterinary, breeding, and medicine
            otherExpenses:
              type: array
              description: Box 32, Other expenses
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            capitalExpenditures:
              type: array
              description: Capital expenditures, for use in calculating Depreciation
              items:
                $ref: '#/components/schemas/DateAmount'

    FarmRentalIncomeStatement:
      title: Farm Rental Income Statement
      description: Farm Rental Income Statement for IRS Form 4835
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            incomeFromProduction:
              type: number
              description: Box 1, Income from production of livestock, produce, grains,
                and other crops
            coopDistributions:
              type: number
              description: Box 2a, Cooperative distributions
            agProgramPayments:
              type: number
              description: Box 3a, Agricultural program payments
            cccLoans:
              type: number
              description: Box 4a, Commodity Credit Corporation (CCC) loans reported
                under election
            cropInsuranceProceeds:
              type: number
              description: Box 5a, Crop insurance proceeds and federal crop disaster
                payments
            otherIncome:
              type: array
              description: Box 6, Other income
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            carAndTruck:
              type: number
              description: Box 8, Car and truck expenses
            chemicals:
              type: number
              description: Box 9, Chemicals
            conservation:
              type: number
              description: Box 10, Conservation expenses
            customHireExpenses:
              type: number
              description: 'Box 11, Custom hire (machine work) '
            depreciation:
              type: number
              description: Box 12, Depreciation
            employeeBenefitPrograms:
              type: number
              description: Box 13, Employee benefit programs
            feed:
              type: number
              description: Box 14, Feed
            fertilizers:
              type: number
              description: Box 15, Fertilizers and lime
            freight:
              type: number
              description: Box 16, Freight and trucking
            fuel:
              type: number
              description: Box 17, Gasoline, fuel, and oil
            insurance:
              type: number
              description: Box 18, Insurance (other than health)
            mortgageInterest:
              type: number
              description: Box 19a, Mortgage Interest
            otherInterest:
              type: number
              description: Box 19b, Other interest
            laborHired:
              type: number
              description: Box 20, Labor hired
            pension:
              type: number
              description: Box 21, Pension and profit-sharing plans
            equipmentRent:
              type: number
              description: 'Box 22a, Rent or lease: Vehicles, machinery, equipment'
            otherRent:
              type: number
              description: 'Box 22b, Rent or lease: Other'
            repairs:
              type: number
              description: Box 23, Repairs and maintenance
            seeds:
              type: number
              description: Box 24, Seeds and plants
            storage:
              type: number
              description: Box 25, Storage and warehousing
            supplies:
              type: number
              description: Box 26, Supplies
            taxes:
              type: number
              description: Box 27, Taxes
            utilities:
              type: number
              description: Box 28, Utilities
            veterinary:
              type: number
              description: Box 29, Veterinary, breeding, and medicine
            otherExpenses:
              type: array
              description: Box 30, Other expenses
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            capitalExpenditures:
              type: array
              description: Capital expenditures, for use in calculating Depreciation
              items:
                $ref: '#/components/schemas/DateAmount'

    Form1042Agent:
      title: Form 1042-S Agent
      description: >-
        One of various persons or businesses involved in Form 1042-S reporting. Use
          * `tin` for
            * Box 12a, Withholding Agent EIN,
            * Box 13e, Recipient U.S. TIN,
            * Box 14b, Primary Withholding Agent EIN,
            * Box 15a, Intermediary or flow-through entity EIN,
            * Box 16b, Payer TIN
          * `individualName` or `businessName` for
            * Box 12d, Withholding Agent name,
            * Box 13a, Recipient name,
            * Box 14a, Primary Withholding Agent name,
            * Box 15d, Intermediary or flow-through entity name,
            * Box 16a, Payer name
          * `address.country` for
            * Box 12f, Withholding Agent Country code,
            * Box 13b, Recipient Country code,
            * Box 15f, Intermediary or flow-through entity Country code
          * `address` for
            * Boxes 12h-i, Withholding Agent Address,
            * Boxes 13c-d, Recipient Address,
            * Boxes 15h-i, Intermediary or flow-through entity Address
      type: object
      allOf:
        - $ref: '#/components/schemas/TaxParty'
        - type: object
          properties:
            ch3StatusCode:
              type: string
              description: >-
                Ch. 3 status code,
                  * Box 12b, Withholding Agent,
                  * Box 13f, Recipient,
                  * Box 15b, Intermediary or flow-through entity,
                  * Box 16d, Payer
            ch4StatusCode:
              type: string
              description: >-
                Ch. 4 status code,
                  * Box 12c, Withholding Agent,
                  * Box 13g, Recipient,
                  * Box 15c, Intermediary or flow-through entity,
                  * Box 16e, Payer
            giin:
              type: string
              description: >-
                Agent's Global Intermediary Identification Number (GIIN),
                  * Box 12e, Withholding Agent,
                  * Box 13h, Recipient,
                  * Box 15e, Intermediary or flow-through entity,
                  * Box 16c, Payer
            foreignTin:
              type: string
              description: >-
                Foreign tax identification number, if any,
                  * Box 12g, Withholding Agent,
                  * Box 13i, Recipient,
                  * Box 15g, Intermediary or flow-through entity

    Form1042Recipient:
      title: Form 1042-S Recipient
      description: Recipient for Form 1042-S, Boxes 13a-j, 13l
      type: object
      allOf:
        - $ref: '#/components/schemas/Form1042Agent'
        - type: object
          properties:
            lobCode:
              type: string
              description: Box 13j, Recipient's LOB code, if any
            dateOfBirth:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
              description: Box 13l, Recipient's date of birth

    HealthInsuranceCoverage:
      title: Health Insurance Coverage
      description: Used on Form 1095-A Part III
      type: object
      properties:
        enrollmentPremium:
          description: Monthly enrollment premiums
          type: number
        slcspPremium:
          description: Monthly second lowest cost silver plan (SLCSP) premium
          type: number
        advancePremiumTaxCreditPayment:
          description: Monthly advance payment of premium tax credit
          type: number
        month:
          $ref: '#/components/schemas/CoverageMonth'
          description: Month of coverage

    HealthInsuranceCoveredIndividual:
      title: Health Insurance Covered Individual
      description: Used on Form 1095-B Part IV and Form 1095-C Part III
      type: object
      properties:
        name:
          $ref: './fdxapi.components.yaml#/components/schemas/IndividualName'
          description: Name of responsible individual
        tin:
          description: Social security number or other TIN
          type: string
        dateOfBirth:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Date of birth
        coveredAll12Months:
          type: boolean
          description: Covered all 12 months
        coveredMonths:
          description: Months covered
          type: array
          items:
            $ref: '#/components/schemas/MonthAbbreviation'

    HealthInsuranceMarketplaceCoveredIndividual:
      title: Health Insurance Marketplace Covered Individual
      description: Used on Form 1095-A Part II
      type: object
      properties:
        name:
          description: Covered individual name
          type: string
        tin:
          description: Covered individual SSN
          type: string
        dateOfBirth:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Covered individual date of birth
        policyStartDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Coverage start date
        policyTerminationDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Coverage termination date

    K1AlternativeMinimumTax:
      title: K-1 Alternative Minimum Tax
      description: Form 1065 and 1120-S Schedule K-1 supplemental alternative minimum tax information
      type: object
      properties:
        leasedPropertyDepreciation:
          type: number
          description: Leased personal property - accelerated depreciation pre-1987
            amounts included in 1065 K-1 box 17 or 1120-S K-1 box 15
        realPropertyDepreciation:
          type: number
          description: Real property - accelerated depreciation pre-1987
            amounts included in 1065 K-1 box 17 or 1120-S K-1 box 15
        oilAndGas:
          $ref: "#/components/schemas/K1AlternativeMinimumTaxDrilling"
          description: Oil and gas amounts included in 1065 K-1 box 17 or 1120-S K-1 box 15
        geothermal:
          $ref: "#/components/schemas/K1AlternativeMinimumTaxDrilling"
          description: Geothermal amounts included in 1065 K-1 box 17 or 1120-S K-1 box 15

    K1AlternativeMinimumTaxDrilling:
      title: K-1 Alternative Minimum Tax - Drilling
      description: Supplemental Alternative Minimum Tax Information for Oil and Gas or Geothermal
        drilling for Form 1065 Schedule K-1 box 17 or Form 1120-S Schedule K-1 box 15
      type: object
      properties:
        grossIncome:
          type: number
          description: Oil and gas or Geothermal gross income included in 1065 K-1 box 17 or 1120-S K-1 box 15
        deductions:
          type: number
          description: Oil and gas or Geothermal deductions included in 1065 K-1 box 17 or 1120-S K-1 box 15
        excessIdc:
          type: number
          description: Oil and gas or Geothermal excess Intangible Drilling Costs (IDC)
            included in 1065 K-1 box 17 or 1120-S K-1 box 15
        excessDepletion:
          type: number
          description: Oil and gas excess depletion included in 1065 K-1 box 17 or 1120-S K-1 box 15

    K1InterestIncome:
      title: K-1 Interest Income
      description: Form 1065 and 1120-S Schedule K-1 supplemental interest income information
      type: object
      properties:
        usTreasuryInterest:
          type: number
          description: Portion of interest income from US Treasury obligations
        usTreasuryDividend:
          type: number
          description: Portion of dividend income from US Treasury obligations
        taxExemptStateInterest:
          type: number
          description: Portion of municipal bond interest income which is tax exempt from taxpayer's State
        privateActivityBondInterest:
          type: number
          description: Private activity bond interest

    K1OtherDeductions:
      title: K-1 Other Deductions
      description: Supplemental Other Deduction Information for Form 1065 Schedule K-1 box 13
        or Form 1120-S Schedule K-1 box 12
      type: object
      properties:
        taxes:
          type: number
          description: Other taxes included in 1065 K-1 box 13 or 1120-S K-1 box 12
        miscellaneous:
          type: number
          description: Other miscellaneous deductions included in 1065 K-1 box 13 or 1120-S K-1 box 12
        retirementPlanPayments:
          type: number
          description: Retirement plan payments included in 1065 K-1 box 13 or 1120-S K-1 box 12
        planType:
          $ref: '#/components/schemas/RetirementPlanType'
          description: Retirement plan type for 1065 K-1 box 13 or 1120-S K-1 box 12

    K1OtherIncome:
      title: K-1 Other Income
      description: Supplemental other income information for Form 1065 Schedule K-1 box 11 code F
        and 1120-S Schedule K-1 box 10 code I
      type: object
      properties:
        remicTaxableIncome:
          type: number
          description: Real Estate Mortgage Investment Conduit (REMIC) taxable income (loss)
            included in 1065 K-1 box 11 code A or 1120-S K-1 box 10 code A
        remicExcessInclusion:
          type: number
          description: Real Estate Mortgage Investment Conduit (REMIC) excess inclusion
            included in 1065 K-1 box 11 code A or 1120-S K-1 box 10 code A
        remicSection212:
          type: number
          description: Real Estate Mortgage Investment Conduit (REMIC) section 212 expenses
            included in 1065 K-1 box 11 code A or 1120-S K-1 box 10 code A
        recoveries:
          type: number
          description: Recoveries of tax benefit items
        gamblingWinnings:
          type: number
          description: Gambling winnings included in 1065 K-1 box 11 code F
            or 1120-S K-1 box 10 code I
        gamblingLosses:
          type: number
          description: Gambling losses included in 1065 K-1 box 11 code F
            or 1120-S K-1 box 10 code I
        section751b:
          type: number
          description: Section 751(b) receivables, inventory
        speciallyAllocatedOrdinary:
          type: number
          description: Specially allocated ordinary gain (loss)
            included in 1065 K-1 box 11 code F or 1120-S K-1 box 10 code I
        speciallyAllocatedShortTerm:
          type: number
          description: Specially allocated net short-term capital gain (loss)
            included in 1065 K-1 box 11 code F or 1120-S K-1 box 10 code I
        speciallyAllocatedLongTerm:
          type: number
          description: Specially allocated net long-term capital gain (loss)
            included in 1065 K-1 box 11 code F or 1120-S K-1 box 10 code I
        speciallyAllocated28Percent:
          type: number
          description: Specially allocated 28% rate included in net long-term gain (loss)
            included in 1065 K-1 box 11 code F or 1120-S K-1 box 10 code I

    K1QbiPartnerSpecificItems:
      title: K-1 Qualified Business Income (QBI) Partner-Specific Items
      description: Form 1065 and 1120-S Schedule K-1 Statement A items
        for Qualified Business Income (QBI) or Publicly Traded Partnership (PTP)
        or Statement C items allocable to qualified payments for Qualified Business Income (QBI)
        subject to partner-specific determinations
      type: object
      properties:
        businessDescription:
          type: string
          description: Business description
        publiclyTradedPartnership:
          type: boolean
          description: Publicly Traded Partnership (PTP) checkbox
        aggregated:
          type: boolean
          description: Aggregated checkbox
        specifiedServiceBusiness:
          type: boolean
          description: Specified Service Trade or Business (SSTB) checkbox
        ordinaryIncome:
          type: number
          description: Ordinary business income (loss)
        rentalIncome:
          type: number
          description: Rental income (loss)
        royaltyIncome:
          type: number
          description: Royalty income (loss)
        section1231Gain:
          type: number
          description: Section 1231 gain (loss)
        otherIncome:
          type: number
          description: Other income (loss)
        section179Deduction:
          type: number
          description: Section 179 deduction
        otherDeductions:
          type: number
          description: Other deductions

    K1StatementA:
      title: K-1 Statement A
      description: Form 1065 and 1120-S Schedule K-1 Statement A,
        Qualified Business Income (QBI) Pass-Through Entity Reporting.
        Partnership and Partner information for Statement A is found on the Schedule K-1
      type: object
      properties:
        qbiItems:
          description: Qualified Business Income (QBI) or qualified Publicly Traded Partnership (PTP)
            items subject to partner-specific determinations
          type: array
          items:
            $ref: '#/components/schemas/K1StatementAQbiItems'
        reitDividends:
          type: number
          description: Qualified Real Estate Investment Trust (REIT) dividends
        selfEmployedHealthInsurance:
          type: number
          description: Self-employed health insurance deduction allocable to Qualified Business Income (QBI)
        selfEmployedRetirement:
          type: number
          description: Self-employed retirement deduction allocable to Qualified Business Income (QBI)

    K1StatementAQbiItems:
      title: K-1 Statement A Qualified Business Income (QBI) Partner-Specific Items
      description: Form 1065 and 1120-S Schedule K-1 Statement A Qualified Business Income (QBI)
        or qualified Publicly Traded Partnership (PTP) items subject to
        partner-specific determinations
      type: object
      allOf:
        - $ref: '#/components/schemas/K1QbiPartnerSpecificItems'
        - type: object
          properties:
            w2Wages:
              type: number
              description: Section 199A wages paid
            qualifiedPropertyUbia:
              type: number
              description: Unadjusted Basis Immediately After Acquisition (UBIA) of qualified property

    K1StatementC:
      title: K-1 Statement C
      description: Form 1065 and 1120-S Schedule K-1 Statement C,
        Qualified Business Income (QBI) Pass-Through Entity Reporting,
        Patrons of Specified Agricultural and Horticultural Coooperatives.
        Partnership and Partner information for Statement C is found on the Schedule K-1
      type: object
      properties:
        qbiItems:
          description: Qualified Business Income (QBI) items allocable to
            qualified payments subject to partner-specific determinations
          type: array
          items:
            $ref: '#/components/schemas/K1StatementCQbiItems'
        section199AgDeduction:
          type: number
          description: Section 199A(g) deduction
        selfEmployedHealthInsurance:
          type: number
          description: Self-employed health insurance deduction allocable to Qualified Business Income (QBI)
        selfEmployedRetirement:
          type: number
          description: Self-employed retirement deduction allocable to Qualified Business Income (QBI)

    K1StatementCQbiItems:
      title: K-1 Statement C Qualified Business Income (QBI) Partner-Specific Items
      description: Form 1065 and 1120-S Schedule K-1 Statement C Qualified Business Income (QBI)
        items allocable to qualified payments subject to partner-specific determinations
      type: object
      allOf:
        - $ref: '#/components/schemas/K1QbiPartnerSpecificItems'
        - type: object
          properties:
            w2Wages:
              type: number
              description: W-2 wages allocable to qualified payments

    K1Supplemental:
      title: K-1 Supplemental
      description: Supplemental Information for Form 1065 Schedule K-1 (Partnership)
        and Form 1120-S Schedule K-1 (S Corporation)
      type: object
      properties:
        foreignPartnership:
          type: boolean
          description: Foreign partnership
        farmActivity:
          type: boolean
          description: Self-employment is from a farm activity, for Form 1065 Schedule K-1 Box 14 with code A
        otherIncome:
          $ref: '#/components/schemas/K1OtherIncome'
          description: Schedule K-1 Supplemental Other Income Information
        otherDeductions:
          $ref: '#/components/schemas/K1OtherDeductions'
          description: Schedule K-1 Supplemental Other Deduction Information
        alternativeMinimumTax:
          $ref: '#/components/schemas/K1AlternativeMinimumTax'
          description: Schedule K-1 Supplemental Alternative Minimum Tax Information
        interestIncome:
          $ref: '#/components/schemas/K1InterestIncome'
          description: Schedule K-1 Supplemental Interest Income Information

    LocalTaxWithholding:
      title: Local Tax Withholding
      description: Income in a locality and its tax withholding
      type: object
      properties:
        taxWithheld:
          description: Amount of local income tax withheld
          type: number
        localityName:
          description: Locality name
          type: string
        income:
          description: Income amount for local tax purposes
          type: number

    MonthAmount:
      title: Month and Amount
      description: Month and amount pair used on IRS Form 1099-K, etc.
      type: object
      properties:
        month:
          $ref: '#/components/schemas/MonthAbbreviation'
          description: Month
        amount:
          description: Amount
          type: number

    NameAddress:
      title: Name and Address
      description: Individual or business name with address
      type: object
      allOf:
        - $ref: './fdxapi.components.yaml#/components/schemas/Address'
        - $ref: './fdxapi.components.yaml#/components/schemas/BusinessName'

    NameAddressPhone:
      title: Name, Address and Phone
      description: Contact phone number with name and address
      type: object
      allOf:
        - $ref: '#/components/schemas/NameAddress'
        - type: object
          properties:
            phone:
              $ref: './fdxapi.components.yaml#/components/schemas/TelephoneNumberPlusExtension'
              description: Phone number

    OfferOfHealthInsuranceCoverage:
      title: Offer of Health Insurance Coverage
      description: Health insurance coverage offer for part II of IRS Form 1095-C
      type: object
      properties:
        coverageCode:
          description: Offer of Coverage (enter required code)
          type: string
        requiredContribution:
          description: Employee required contribution
          type: number
        section4980HCode:
          description: Section 4980H Safe Harbor and Other Relief (enter code)
          type: string
        postalCode:
          type: string
          maxLength: 10
          description: Box 17, ZIP Code
        month:
          $ref: '#/components/schemas/CoverageMonth'
          description: Month

    RentalIncomeStatement:
      title: Rental Income Statement
      description: Rental Income Statement for IRS Form 1040 Schedule E
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            propertyAddress:
              description: Box 1a, Physical address of property (street, city, state, ZIP code)
              $ref: './fdxapi.components.yaml#/components/schemas/Address'
            rents:
              type: number
              description: Box 3, Rents received
            advertising:
              type: number
              description: Box 5, Advertising
            auto:
              type: number
              description: Box 6, Auto and travel
            cleaning:
              type: number
              description: Box 7, Cleaning and maintenance
            commissions:
              type: number
              description: Box 8, Commissions
            insurance:
              type: number
              description: Box 9, Insurance
            legal:
              type: number
              description: Box 10, Legal and other professional fees
            managementFees:
              type: number
              description: Box 11, Management fees
            mortgageInterest:
              type: number
              description: Box 12, Mortgage interest paid to banks, etc.
            otherInterest:
              type: number
              description: Box 13, Other interest
            repairs:
              type: number
              description: Box 14, Repairs
            supplies:
              type: number
              description: Box 15, Supplies
            taxes:
              type: number
              description: Box 16, Taxes
            utilities:
              type: number
              description: Box 17, Utilities
            depreciationExpense:
              type: number
              description: Box 18, Depreciation
            otherExpenses:
              type: array
              description: Box 19, Other expenses
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            capitalExpenditures:
              type: array
              description: Capital expenditures, for use in calculating Depreciation
              items:
                $ref: '#/components/schemas/DateAmount'

    RoyaltyIncomeStatement:
      title: Royalty Income Statement
      description: Royalty Income Statement for IRS Form 1040 Schedule E
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            propertyAddress:
              description: Box 1a, Physical address of property (street, city, state, ZIP code)
              $ref: './fdxapi.components.yaml#/components/schemas/Address'
            royalties:
              type: number
              description: Box 3, Royalties received
            advertising:
              type: number
              description: Box 5, Advertising
            auto:
              type: number
              description: Box 6, Auto and travel
            cleaning:
              type: number
              description: Box 7, Cleaning and maintenance
            commissions:
              type: number
              description: Box 8, Commissions
            insurance:
              type: number
              description: Box 9, Insurance
            legal:
              type: number
              description: Box 10, Legal and other professional fees
            managementFees:
              type: number
              description: Box 11, Management fees
            mortgageInterest:
              type: number
              description: Box 12, Mortgage interest paid to banks, etc.
            otherInterest:
              type: number
              description: Box 13, Other interest
            repairs:
              type: number
              description: Box 14, Repairs
            supplies:
              type: number
              description: Box 15, Supplies
            taxes:
              type: number
              description: Box 16, Taxes
            utilities:
              type: number
              description: Box 17, Utilities
            depletionExpense:
              type: number
              description: Box 18, Depletion
            otherExpenses:
              type: array
              description: Box 19, Other expenses
              items:
                $ref: '#/components/schemas/DescriptionAmount'
            capitalExpenditures:
              type: array
              description: Capital expenditures, for use in calculating Depreciation
              items:
                $ref: '#/components/schemas/DateAmount'

    SecurityDetail:
      title: Security Detail, IRS Form 1099-B
      description: Tax information for a single security transaction.
        If reported on Form 1099-DA, use Tax1099Da and DigitalAssetDetail instead
      type: object
      properties:
        multiple:
          type: boolean
          description: This transaction represents multiple transactions reported on a
            separate statement under Exception 2. Code M is shown on Form 8949 column (f)
        incomplete:
          type: boolean
          description: This transaction is known to contain incomplete information
        exception1:
          type: boolean
          description: This transaction is to be reported on Form 1040 Schedule D,
            either line 1a for short-term transactions or line 8a for long-term transactions
        taxStatementId:
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
          description: ID for a PDF statement delivered in this `TaxStatementList` adjacent to this tax form,
            which would contain the full details of the multiple transactions of this `SecurityDetail` record
        cusip:
          description: CUSIP number
          type: string
        checkboxOnForm8949:
          description: Applicable checkbox on Form 8949. Use code `A`, `B`, `D`, `E`, or `X`
          type: string
        securityName:
          description: Security name
          type: string
        numberOfShares:
          description: Number of shares
          type: number
        saleDescription:
          description: Box 1a, Description of property
          type: string
        dateAcquired:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Box 1b, Date acquired
        variousDatesAcquired:
          type: boolean
          description: Box 1b, whether Form 8949 should reflect various acquisition dates
        dateOfSale:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Box 1c, Date sold or disposed
        salesPrice:
          description: Box 1d, Proceeds (not price per share)
          type: number
        accruedMarketDiscount:
          description: Box 1f, Accrued market discount
          type: number
        adjustmentCodes:
          description: Other adjustments (code and amount)
          type: array
          items:
            $ref: '#/components/schemas/CodeAmount'
        costBasis:
          description: Box 1e, Cost or other basis
          type: number
        correctedCostBasis:
          description: >-
            Corrected cost basis. May be supplied in lieu of adjustmentCode code B.
            If both adjustmentCodes and correctedCostBasis are supplied,
            costBasis plus adjustmentCode B should equal correctedCostBasis
          type: number
        washSaleLossDisallowed:
          description: Box 1g, Wash sale loss disallowed
          type: number
        longOrShort:
          $ref: '#/components/schemas/SaleTermType'
          description: Box 2, LONG or SHORT
        ordinary:
          type: boolean
          description: Box 2, Ordinary
        collectible:
          type: boolean
          description: Box 3, Collectibles
        qof:
          type: boolean
          description: Box 3, Qualified Opportunity Fund (QOF)
        federalTaxWithheld:
          description: Box 4, Federal income tax withheld
          type: number
        noncoveredSecurity:
          type: boolean
          description: Box 5, Noncovered security
        grossOrNet:
          $ref: '#/components/schemas/SaleProceedsType'
          description: 'Box 6, Reported to IRS: GROSS or NET'
        lossNotAllowed:
          type: boolean
          description: Box 7, Loss not allowed based on proceeds
        basisReported:
          type: boolean
          description: Box 12, Basis reported to IRS
        stateAndLocal:
          description: Boxes 14-16, State and Local tax withholding
          type: array
          items:
            $ref: '#/components/schemas/StateAndLocalTaxWithholding'
        foreignAccountTaxCompliance:
          type: boolean
          description: Foreign account tax compliance
        expiredOption:
          $ref: '#/components/schemas/ExpiredOptionType'
          description: >-
            To indicate gain or loss resulted from option expiration.
            If salesPrice (1d, proceeds) is zero, use PURCHASED.
            If costBasis (1e) is zero, use GRANTED
        investmentSaleType:
          $ref: '#/components/schemas/InvestmentSaleType'
          description: Type of investment sale

    StateAndLocalTaxWithholding:
      title: State and Local Tax Withholding
      description: Income in a state and/or locality and its or their tax withholding
      type: object
      properties:
        stateCode:
          description: State two-digit code
          $ref: './fdxapi.components.yaml#/components/schemas/StateCode'
        state:
          description: Amount of state income tax withheld
          $ref: '#/components/schemas/StateTaxWithholding'
        local:
          description: Amount of local income tax withheld, if any
          $ref: '#/components/schemas/LocalTaxWithholding'

    StateTaxWithholding:
      title: State Tax Withholding
      description: Income in a state and its tax withholding
      type: object
      properties:
        taxWithheld:
          description: Amount of state income tax withheld
          type: number
        taxId:
          description: Filer's state tax id
          type: string
        income:
          description: Income amount for state tax purposes
          type: number

    Tax:
      title: Tax
      description: Base entity for all IRS Tax forms
      type: object
      properties:
        taxYear:
          description: Year for which taxes are being paid
          $ref: '#/components/schemas/TaxYear'
        corrected:
          type: boolean
          description: True to indicate this is a corrected tax form
        accountId:
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
          description: Long-term persistent identity of the source account. Not the account number
        taxFormId:
          $ref: './fdxapi.components.yaml#/components/schemas/Identifier'
          description: Long-term persistent id for this tax form.
            Depending upon the data provider, this may be the same id as the enclosing tax statement id,
            or this may be a different id, or this id may be omitted.
        taxFormDate:
          $ref: './fdxapi.components.yaml#/components/schemas/DateString'
          description: Date of production or delivery of the tax form
        additionalInformation:
          description: Additional explanation text or content about this tax form
          type: string
        taxFormType:
          $ref: '#/components/schemas/TaxFormType'
          description: Enumerated name of the tax form entity e.g. "TaxW2"
        issuer:
          $ref: '#/components/schemas/TaxParty'
          description: Issuer's name, address, phone, and TIN.
            Issuer data need only be transmitted on enclosing TaxStatement,
            if it is the same on all its included tax forms.
        recipient:
          $ref: '#/components/schemas/TaxParty'
          description: Recipient's name, address, phone, and TIN.
            Recipient data need only be transmitted on enclosing TaxStatement,
            if it is the same on all its included tax forms.
        attributes:
          description: >-
            Additional attributes for this tax form when defined fields are not available.
            Some specific additional attributes already defined by providers:
            Fields required by [IRS FIRE](https://www.irs.gov/e-file-providers/filing-information-returns-electronically-fire):
            Name Control, Type of Identification Number (EIN, SSN, ITIN, ATIN).
            (ATIN is tax ID number for pending adoptions.)
            Tax form provider field for taxpayer notification: Recipient Email Address.
          type: array
          items:
            $ref: '#/components/schemas/TaxFormAttribute'
          example:
            # IRS FIRE Name Control
            - name: nameControl
              value: WILC
            # IRS FIRE EIN Type of Identification Number
            - name: recipientIdType
              value: EIN
              code: '1'
            # IRS FIRE SSN Type of Identification Number
            - name: recipientIdType
              value: SSN
              code: '2'
            # IRS FIRE ITIN Type of Identification Number
            - name: recipientIdType
              value: ITIN
              code: '2'
            # IRS FIRE ATIN Type of Identification Number
            - name: recipientIdType
              value: ATIN
              code: '2'
        error:
          description: Present if an error was encountered while retrieving this form
          $ref: './fdxapi.components.yaml#/components/schemas/Error'
        links:
          $ref: './fdxapi.components.yaml#/components/schemas/HateoasLinks'
          description: Links to retrieve this form as data or image, or to invoke other APIs

    Tax1041K1:
      title: Form 1041 Schedule K-1
      description: Beneficiary's Share of Income, Deductions, Credits, etc., from Estate or Trust
        (boxes A-B as issuer) and Fiduciary (box C) to Beneficiary (boxes F-G as recipient)
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            finalK1:
              type: boolean
              description: Final K-1
            amendedK1:
              type: boolean
              description: Amended K-1
            fiscalYearBegin:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
              description: Fiscal year begin date
            fiscalYearEnd:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
              description: Fiscal year end date
            fiduciary:
              $ref: '#/components/schemas/TaxParty'
              description: Box C, Fiduciary's name and address
            form1041T:
              type: boolean
              description: Box D, Check if Form 1041-T was filed
            date1041T:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
              description: Box D, and enter the date it was filed
            final1041:
              type: boolean
              description: Box E, Check if this is the final Form 1041 for the estate or trust
            domestic:
              type: boolean
              description: Box H, Domestic beneficiary
            foreign:
              type: boolean
              description: Box H, Foreign beneficiary
            interestIncome:
              description: Box 1, Interest income
              type: number
            ordinaryDividends:
              description: Box 2a, Ordinary dividends
              type: number
            qualifiedDividends:
              description: Box 2b, Qualified dividends
              type: number
            netShortTermGain:
              description: Box 3, Net short-term capital gain
              type: number
            netLongTermGain:
              description: Box 4a, Net long-term capital gain
              type: number
            gain28Rate:
              description: Box 4b, 28% rate gain
              type: number
            unrecaptured1250Gain:
              description: Box 4c, Unrecaptured section 1250 gain
              type: number
            otherPortfolioIncome:
              description: Box 5, Other portfolio and nonbusiness income
              type: number
            ordinaryBusinessIncome:
              description: Box 6, Ordinary business income
              type: number
            netRentalRealEstateIncome:
              description: Box 7, Net rental real estate income
              type: number
            otherRentalIncome:
              description: Box 8, Other rental income
              type: number
            directlyApportionedDeductions:
              description: Box 9, Directly apportioned deductions
              type: array
              items:
                $ref: '#/components/schemas/CodeAmount'
            estateTaxDeduction:
              description: Box 10, Estate tax deduction
              type: number
            finalYearDeductions:
              description: Box 11, Final year deductions
              type: array
              items:
                $ref: '#/components/schemas/CodeAmount'
            amtAdjustments:
              description: Box 12, Alternative minimum tax adjustment
              type: array
              items:
                $ref: '#/components/schemas/CodeAmount'
            credits:
              description: Box 13, Credits and credit recapture
              type: array
              items:
                $ref: '#/components/schemas/CodeAmount'
            otherInfo:
              description: Box 14, Other information
              type: array
              items:
                $ref: '#/components/schemas/CodeAmount'

    Tax1042S:
      title: Form 1042-S
      description: Foreign Person's U.S. Source Income Subject to Withholding,
        from WithholdingAgent (boxes 12a-i) to Recipient (boxes 13a-j, 13l as form1042Recipient)
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            formId:
              type: string
              description: Unique form identifier
            amended:
              type: boolean
              description: Amended
            amendmentNumber:
              type: integer
              description: Amendment number
              format: int32
            incomeTypeCode:
              type: string
              description: Box 1, Income code
            grossIncome:
              type: number
              description: Box 2, Gross income
            chapterIndicator:
              type: string
              description: Box 3, Chapter indicator
            ch3ExemptionCode:
              type: string
              description: Box 3a, Exemption code
            ch3TaxRate:
              type: number
              description: Box 3b, Tax rate
              format: double
            ch4ExemptionCode:
              type: string
              description: Box 4a, Exemption code
            ch4TaxRate:
              type: number
              description: Box 4b, Tax rate
              format: double
            withholdingAllowance:
              type: number
              description: Box 5, Withholding allowance
            netIncome:
              type: number
              description: Box 6, Net income
            federalTaxWithheld:
              type: number
              description: Box 7a, Federal tax withheld
            escrowProceduresApplied:
              type: boolean
              description: Box 7b, Check if federal tax withheld was not deposited with
                the IRS because escrow procedures were applied
            subsequentYear:
              type: boolean
              description: Box 7c, Check if withholding occurred in subsequent year
                with respect to a partnership interest
            revisedReporting:
              type: boolean
              description: Box 7d, Check if you are a qualified intermediary, withholding foreign
                partnership, or withholding foreign trust revising its reporting on Form 1042-S
                to report to a specific recipient. Added for tax year 2025
            otherAgentsTaxWithheld:
              type: number
              description: Box 8, Tax withheld by other agents
            recipientRepaidAmount:
              type: number
              description: Box 9, Overwithheld tax repaid to recipient pursuant to adjustment
                procedures
            totalTaxWithholdingCredit:
              type: number
              description: Box 10, Total withholding credit
            withholdingAgentTaxPaid:
              type: number
              description: Box 11, Tax paid by withholding agent (amounts not withheld)
            withholdingAgent:
              description: Boxes 12a-i, Withholding agent
              $ref: '#/components/schemas/Form1042Agent'
            form1042Recipient:
              description: Boxes 13a-j, 13l, Recipient for Form 1042-S
              $ref: '#/components/schemas/Form1042Recipient'
            accountNumber:
              description: Box 13k, Recipient account number
              type: string
            primary:
              description: Boxes 14a-b, Primary Withholding Agent
              $ref: '#/components/schemas/Form1042Agent'
            prorataBasisReporting:
              description: Box 15, Check if pro-rata basis reporting
              type: boolean
            intermediary:
              description: Boxes 15a-i, Intermediary or flow thru entity
              $ref: '#/components/schemas/Form1042Agent'
            payer:
              description: Boxes 16a-e, Payer
              $ref: '#/components/schemas/Form1042Agent'
            stateAndLocal:
              description: Box 17, State and Local tax withholding
              $ref: '#/components/schemas/StateAndLocalTaxWithholding'

    Tax1065K1:
      title: Form 1065 Schedule K-1
      description: Partner's Share of Income, Deductions, Credits, etc.,
        from Partnership (boxes A, D as issuer) to Partner (boxes E-F as recipient)
      type: object
      allOf:
        - $ref: '#/components/schemas/Tax'
        - type: object
          properties:
            fiscalYearBegin:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
              description: Fiscal year begin date
            fiscalYearEnd:
              $ref: './fdxapi.components.yaml#/components/schemas/DateString'
              description: Fiscal year end data
            finalK1:
              type: boolean
              description: Final K-1
            amendedK1:
              type: boolean
              description: Amended K-1
            irsCenter:
              description: Box C, IRS Center where partnership filed return
              type: string
            publiclyTraded:
              type: boolean
              description: Box D, Check if this is a publicly traded partnership (PTP)
            generalPartner:
              type: boolean
              description: Box G, General partner or LLC member-manager
            limitedPartner:
              type: boolean
              description: Box G, Limited partner or other LLC member
            domestic:
              type: boolean
              description: Box H1, Domestic partner
            foreign:
              type: boolean
              description: Box H1, Foreign partner
            disregardedEntity:
              type: boolean
              description: Box H2, Check if the partner is a disregarded entity (DE), and enter the
                partner's TIN and Name
            disregardedEntityTin:
              description: Box H2, Disregarded entity partner's TIN
              type: string
            disregardedEntityName:
              description: Box H2, Disregarded entity partner's Name
              type: string
            entityType:
              description: Box I1, What type of entity is this partner?
              type: string
            retirementPlan:
              type: boolean
              description: Box I2, If this partner is a retirement plan (IRA/SEP/Keogh/etc.), check here
            profitShareBegin:
              description: Box J, Partner's share of profit - beginning
              type: number
              format: double
            profitShareEnd:
              description: Box J, Partner's share of profit - ending
              type: number
              format: double
            lossShareBegin:
              description: Box J, Partner's share of loss - beginning
[...]
