openapi: 3.1.0
info:
  version: '6.5.0'
  title: FDX V6.5.0 Money Movement API
  description: Financial Data Exchange V6.5.0 Money Movement API
  contact:
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
    email: fdxsupport@financialdataexchange.org
  license:
    name: FDX API License Agreement (11-13-2019)
    url: 'https://financialdataexchange.org/common/Uploaded%20files/Policies/FDX%20API%20License%20Agreement-(11-13-2019).pdf'
  x-fdx-csdf-account-categories: [REG_E]
servers:
  - url: 'https://api.fi.com/fdx/v6'
    description: Financial Data Exchange V6 Money Movement API
tags:
  - name: Internal Transfers
    description: Manage internal transfers
  - name: Payee Management
    description: Manage payees for payments
  - name: Payment Initiation Parties
    description: Manage payment initiation parties
  - name: Payments
    description: Manage payments
  - name: Recurring Payments
    description: Manage recurring payments
paths:
  ############################################################
  #
  # Money Movement paths
  #
  ############################################################

  /payees:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    get:
      operationId: searchForPayees
      tags:
        - Payee Management
      summary: Search for payees
      description: Search for payees
      parameters:
        - $ref: '#/components/parameters/UpdatedSinceQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payees'
              examples:
                Retrieve Payees:
                  value:
                    page:
                      nextOffset: "next-offset-123-xyz"
                      prevOffset: "prev-offset-456-abc"
                      totalElements: 100
                    updates:
                      nextUpdateId: "next-update-id-456-krl"
                    links:
                      next:
                        href: "/payees?offset=next-offset-123-xyz"
                      prev:
                        href: "/payees?offset=prev-offset-456-abc"
                      updates:
                        href: "/payees?updatedSince=next-update-id-456-krl"
                    payees:
                      - merchant:
                          displayName: "My Cell Phone Biller"
                          name:
                            company: "US Cellular"
                          address:
                            line1: "10 Cellular way"
                            city: "New York"
                            region: "NY"
                            postalCode: "10001"
                          phone:
                            type: CELL
                            country: '+1'
                            number: "2013329944"
                          payeeId: "payee-1001"
                          merchantAccountIds:
                            - "999900008888"
                          status: "ACTIVE"
                          expiresTimestamp: "2025-03-15T13:29:19+0000"
        '404':
          $ref: './fdxapi.components.yaml#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    post:
      operationId: createPayee
      tags:
        - Payee Management
      summary: Create a payee
      description: Create a payee
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: The data of the Payee to be updated
              $ref: '#/components/schemas/PayeeForUpdate'
            examples:
              Create a Payee with all properties:
                value:
                  merchant:
                    displayName: My Cell Phone Biller
                    name:
                      first: Junie
                      middle: B
                      last: Jones
                      suffix: Jr
                      prefix: Ms
                      company: US Cellular
                    address:
                      line1: "10 Cellular way"
                      city: "New York"
                      region: "NY"
                      postalCode: "10001"
                    phone:
                      type: BUSINESS
                      country: '+1'
                      number: '2013329944'
                    merchantAccountIds:
                      - '999900008888'
      responses:
        '200':
          description: Payee Exists
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payee'
              examples:
                Existing Payee:
                  value:
                    merchant:
                      displayName: "My Cell Phone Biller"
                      name:
                        company: "US Cellular"
                      address:
                        line1: "10 Cellular way"
                        city: "New York"
                        region: "NY"
                        postalCode: "10001"
                      phone:
                        type: CELL
                        country: '+1'
                        number: "2013329944"
                      payeeId: "payee-1001"
                      merchantAccountIds:
                        - "999900008888"
                      status: "ACTIVE"
                      expiresTimestamp: "2025-03-15T13:29:19+0000"
        '201':
          description: Created
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payee'
              examples:
                Created Payee:
                  value:
                    merchant:
                      displayName: "My Cell Phone Biller"
                      name:
                        company: "US Cellular"
                      address:
                        line1: "10 Cellular way"
                        city: "New York"
                        region: "NY"
                        postalCode: "10001"
                      phone:
                        type: CELL
                        country: '+1'
                        number: "2013329944"
                      payeeId: "payee-1001"
                      merchantAccountIds:
                        - "999900008888"
                      status: "ACTIVE"
                      expiresTimestamp: "2025-03-15T13:29:19+0000"
        '409':
          description: Duplicate Request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payee'
              examples:
                Duplicate Request:
                  value:
                    merchant:
                      displayName: "My Cell Phone Biller"
                      name:
                        company: "US Cellular"
                      address:
                        line1: "10 Cellular way"
                        city: "New York"
                        region: "NY"
                        postalCode: "10001"
                      phone:
                        type: CELL
                        country: '+1'
                        number: "2013329944"
                      payeeId: "payee-1001"
                      merchantAccountIds:
                        - "999900008888"
                      status: "ACTIVE"
                      expiresTimestamp: "2025-03-15T13:29:19+0000"

  /payees/{payeeId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    get:
      operationId: getPayee
      tags:
        - Payee Management
      summary: Get a payee
      description: Get a payee
      parameters:
        - $ref: '#/components/parameters/PayeeIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payee'
              examples:
                Retrieve Payee by Payee Id Response:
                  value:
                    merchant:
                      displayName: "My Cell Phone Biller"
                      name:
                        company: "US Cellular"
                      address:
                        line1: "10 Cellular way"
                        city: "New York"
                        region: "NY"
                        postalCode: "10001"
                      phone:
                        type: CELL
                        country: '+1'
                        number: "2013329944"
                      payeeId: "payee-1001"
                      merchantAccountIds:
                        - "999900008888"
                      status: "ACTIVE"
                      expiresTimestamp: "2025-03-15T13:29:19+0000"
        '404':
          description: Payee with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payee not found:
                  value:
                    code: '800'
                    message: Payee not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    patch:
      operationId: updatePayee
      tags:
        - Payee Management
      summary: Update a payee
      description: >-
        Used to update an existing payee. The payee type must match the existing payee.
        This call updates the payee's fields to the values provided.
        If a field is not provided, the payee's field is not updated
      parameters:
        - $ref: '#/components/parameters/PayeeIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayeeForUpdate'
            examples:
              Update Display Name:
                value:
                  merchant:
                    displayName: "My Business Cell Phone Biller"
              Update Phone Number:
                value:
                  merchant:
                    phone:
                      type: CELL
                      country: '+1'
                      number: "9085550000"
              Update Name and Address:
                value:
                  merchant:
                    name:
                      company: "My Business Cell Phone Biller"
                    address:
                      line1: "10 Cellular way"
                      city: "New York"
                      region: "NY"
                      postalCode: "10001"
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payee'
              examples:
                Successful Update:
                  value:
                    merchant:
                      displayName: "My Cell Phone Biller"
                      name:
                        company: "US Cellular"
                      address:
                        line1: "10 Cellular way"
                        city: "New York"
                        region: "NY"
                        postalCode: "10001"
                      phone:
                        type: CELL
                        country: '+1'
                        number: "2013329944"
                      payeeId: "payee-1001"
                      merchantAccountIds:
                        - "999900008888"
                      status: "ACTIVE"
                      expiresTimestamp: "2025-03-15T13:29:19+0000"
        '400':
          description: Input sent by client does not satisfy API specification
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Invalid Input:
                  value:
                    code: '401'
                    message: Invalid Input
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Payee cannot be modified or deleted:
                  value:
                    code: '801'
                    message: Payee cannot be modified or deleted
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Payee with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payee not found:
                  value:
                    code: '800'
                    message: Payee not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '409':
          description: Duplicate Request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payee'
              examples:
                Duplicate Request:
                  value:
                    merchant:
                      displayName: My Cell Phone Biller
                      name:
                        company: US Cellular
                      address:
                        line1: 10 Cellular way
                        city: New York
                        region: NY
                        postalCode: '10001'
                      phone:
                        type: CELL
                        country: '+1'
                        number: '2013329944'
                      payeeId: payee-1001
                      merchantAccountIds:
                        - '999900008888'
                      status: ACTIVE
                      expiresTimestamp: '2025-03-15T13:29:19+0000'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    delete:
      operationId: deletePayee
      tags:
        - Payee Management
      summary: Delete a payee
      description: Delete a payee
      parameters:
        - $ref: '#/components/parameters/PayeeIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payee'
              examples:
                Successful Deletion:
                  value:
                    merchant:
                      status: "DELETED"
        '400':
          description: Payee cannot be modified or deleted
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payee cannot be modified or deleted:
                  value:
                    code: '801'
                    message: Payee cannot be modified or deleted
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Payee with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payee not found:
                  value:
                    code: '800'
                    message: Payee not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /payment-initiation-parties:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    post:
      summary: Create payment initiation party
      tags:
        - Payment Initiation Parties
      description: Create a payment initiation party associated with a customer profile
      operationId: createPaymentInitiationParty
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationParty'
      responses:
        '201':
          description: Created payment initiation party
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitiationPartyCreateResponse'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    get:
      summary: Collection of payment initiation parties
      tags:
        - Payment Initiation Parties
      description: Retrieve the payment initiation parties associated with a customer profile
      operationId: listPaymentInitiationParties
      parameters:
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitiationParties'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /payment-initiation-parties/{paymentInitiationPartyId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    summary: Payment initiation party details
    get:
      summary: Retrieve payment initiation party details
      tags:
        - Payment Initiation Parties
      description: Retrieve the payment initiation party details by ID
      operationId: getPaymentInitiationParty
      parameters:
        - $ref: '#/components/parameters/PaymentInitiationPartyIdPath'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitiationParty'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    patch:
      summary: Update payment initiation party
      tags:
        - Payment Initiation Parties
      description: Update the payment initiation party associated with a customer profile
      operationId: updatePaymentInitiationParty
      parameters:
        - $ref: '#/components/parameters/PaymentInitiationPartyIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationParty'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    delete:
      summary: Remove payment initiation party
      tags:
        - Payment Initiation Parties
      description: Remove the payment initiation party associated with a customer profile
      operationId: deletePaymentInitiationParty
      parameters:
        - $ref: '#/components/parameters/PaymentInitiationPartyIdPath'
      responses:
        '204':
          description: No Content
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /payment-initiation-parties/{paymentInitiationPartyId}/payment-methods:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    summary: Payment methods registered with a payment initiation party
    post:
      summary: Register a payment initiation party to a payment method
      tags:
        - Payment Initiation Parties
      description: Registration of a payment initiation party to a payment method
      operationId: createPaymentMethod
      parameters:
        - $ref: '#/components/parameters/PaymentInitiationPartyIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationPartyToPaymentMethod'
      responses:
        '201':
          description: Created payment method registration
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitiationPartyMethodCreateResponse'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /payment-initiation-parties/{paymentInitiationPartyId}/payment-methods/{paymentMethodRegistrationId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    summary: Payment methods registered with a payment initiation party details
    get:
      summary: Retrieve details of the payment method registered with a payment initiation party
      tags:
        - Payment Initiation Parties
      description: Retrieve the details of a payment method registered with a payment initiation party
      operationId: getPaymentMethodRegistration
      parameters:
        - $ref: '#/components/parameters/PaymentInitiationPartyIdPath'
        - $ref: '#/components/parameters/PaymentMethodRegistrationIdPath'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitiationPartyToPaymentMethod'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    delete:
      summary: Remove a payment method registration to a payment initiation party
      tags:
        - Payment Initiation Parties
      description: Remove the registered payment method from a payment initiation party
      operationId: deletePaymentMethodRegistration
      parameters:
        - $ref: '#/components/parameters/PaymentInitiationPartyIdPath'
        - $ref: '#/components/parameters/PaymentMethodRegistrationIdPath'
      responses:
        '204':
          description: No Content
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    patch:
      summary: Update the payment method registration associated with payment initiation party
      tags:
        - Payment Initiation Parties
      description: Update the payment method registration associated with payment initiation party
      operationId: updatePaymentMethodRegistration
      parameters:
        - $ref: '#/components/parameters/PaymentInitiationPartyIdPath'
        - $ref: '#/components/parameters/PaymentMethodRegistrationIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationPartyToPaymentMethod'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /payments:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: searchForPayments
      tags:
        - Payments
      summary: Search for payments
      description: Search for payments
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/UpdatedSinceQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
              examples:
                Retrieve Payments:
                  value:
                    page:
                      nextOffset: "next-offset-123-xyz"
                      prevOffset: "prev-offset-456-abc"
                      totalElements: 100
                    updates:
                      nextUpdateId: "next-update-id-456-krl"
                    links:
                      next:
                        href: "/payments?offset=next-offset-123-xyz"
                      prev:
                        href: "/payments?offset=prev-offset-456-abc"
                      updates:
                        href: "/payments?updatedSince=next-update-id-456-krl"
                    payments:
                      - fromAccountId: "ACCOUNT-123"
                        toPayeeId: "PAYEE-ABC"
                        amount: 10.99
                        merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                        dueDate: "2021-08-17"
                        paymentId: "PAYMENT-213"
                        recurringPaymentId: "RECURRING-PAYMENT-485"
                        processedTimestamp: "2021-03-15T13:29:19+0000"
                        startedProcessingTimestamp: "2021-03-14T13:29:19+0000"
                        status: "PROCESSED"
                        links:
                          - href: "/recurring-payment/RECURRING-PAYMENT-485"
                            rel: recurringPayment
        '404':
          $ref: './fdxapi.components.yaml#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    post:
      operationId: schedulePayment
      tags:
        - Payments
      summary: Schedule payment
      description: Schedule a payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: The data of the Payment to be scheduled
              $ref: '#/components/schemas/PaymentForUpdate'
            examples:
              Schedule a Payment:
                value:
                  fromAccountId: "ACCOUNT-123"
                  toPayeeId: "PAYEE-ABC"
                  amount: 10.99
                  merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                  dueDate: "2021-08-17"
      responses:
        '200':
          description: Duplicate Payment
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Duplicate Payment:
                  value:
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    paymentId: "PAYMENT-213"
                    status: "SCHEDULED"
        '201':
          description: Created
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Successful Creation:
                  value:
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    paymentId: "PAYMENT-213"
                    status: "SCHEDULED"
        '400':
          description: Request is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Due date too soon:
                  value:
                    code: '803'
                    message: Due date too soon
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Payment rejected:
                  value:
                    code: '804'
                    message: Payment rejected
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Requested payment is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payee not found:
                  value:
                    code: '800'
                    message: Payee not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account not found:
                  value:
                    code: '901'
                    message: Source account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account closed:
                  value:
                    code: '902'
                    message: Source account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not found:
                  value:
                    code: '904'
                    message: Destination account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account closed:
                  value:
                    code: '905'
                    message: Destination account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid amount:
                  value:
                    code: '907'
                    message: Invalid amount
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Insufficient funds:
                  value:
                    code: '910'
                    message: Insufficient funds
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '409':
          description: Duplicate Request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Duplicate Request:
                  value:
                    fromAccountId: ACCOUNT-123
                    toPayeeId: PAYEE-ABC
                    amount: 10.99
                    merchantAccountId: MERCHANT-ACCOUNT-ID-0001
                    dueDate: '2021-08-17'
                    paymentId: PAYMENT-213
                    status: SCHEDULED
        '422':
          description: Account type not supported
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Account type not supported:
                  value:
                    code: '704'
                    message: Account type not supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /payments/{paymentId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: getPayment
      tags:
        - Payments
      summary: Get payment
      description: Get a payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/PaymentIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Retrieve Payment:
                  value:
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    paymentId: "PAYMENT-213"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    processedTimestamp: "2021-03-15T13:29:19+0000"
                    startedProcessingTimestamp: "2021-03-14T13:29:19+0000"
                    status: "PROCESSED"
                    links:
                      - href: "/recurring-payment/RECURRING-PAYMENT-854"
                        rel: recurringPayment
        '404':
          description: A payment with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payment not found:
                  value:
                    code: '802'
                    message: Payment not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    patch:
      operationId: updatePayment
      tags:
        - Payments
      summary: Update a payment
      description: Update a payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/PaymentIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: The data of the Payment to be updated
              $ref: '#/components/schemas/PaymentForUpdate'
            examples:
              Update Amount:
                value:
                  fromAccountId: "ACCOUNT-890"
                  amount: 5
                  dueDate: "2021-08-30"
                  toPayeeId: "PAYEE-XYZ"
              Update Payee:
                value:
                  fromAccountId: "ACCOUNT-890"
                  toPayeeId: "PAYEE-XYZ"
                  amount: 5
                  dueDate: "2021-08-30"
              Update From Account and Due Date:
                value:
                  fromAccountId: "ACCOUNT-890"
                  dueDate: "2021-08-30"
                  toPayeeId: "PAYEE-XYZ"
                  amount: 5
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Successful Update:
                  value:
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    paymentId: "PAYMENT-213"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    processedTimestamp: "2021-03-15T13:29:19+0000"
                    startedProcessingTimestamp: "2021-03-14T13:29:19+0000"
                    status: "PROCESSED"
                    links:
                      - href: "/recurring-payment/RECURRING-PAYMENT-548"
                        rel: recurringPayment
        '400':
          description: Request is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Due date too soon:
                  value:
                    code: '803'
                    message: Due date too soon
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Payment cannot be modified or cancelled:
                  value:
                    code: '805'
                    message: Payment cannot be modified or cancelled
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Insufficient funds:
                  value:
                    code: '910'
                    message: Insufficient funds
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Requested payment change is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payment not found:
                  value:
                    code: '802'
                    message: Payment not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Payee not found:
                  value:
                    code: '800'
                    message: Payee not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account not found:
                  value:
                    code: '901'
                    message: Source account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account closed:
                  value:
                    code: '902'
                    message: Source account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not found:
                  value:
                    code: '904'
                    message: Destination account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account closed:
                  value:
                    code: '905'
                    message: Destination account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid amount:
                  value:
                    code: '907'
                    message: Invalid amount
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Insufficient funds:
                  value:
                    code: '910'
                    message: Insufficient funds
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '409':
          description: Duplicate Request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Duplicate Request:
                  value:
                    fromAccountId: ACCOUNT-123
                    toPayeeId: PAYEE-ABC
                    amount: 10.99
                    merchantAccountId: MERCHANT-ACCOUNT-ID-0001
                    dueDate: '2021-08-17'
                    paymentId: PAYMENT-213
                    recurringPaymentId: RECURRING-PAYMENT-485
                    processedTimestamp: '2021-03-15T13:29:19+0000'
                    startedProcessingTimestamp: '2021-03-14T13:29:19+0000'
                    status: PROCESSED
                    links:
                      - href: /recurring-payment/RECURRING-PAYMENT-584
                        rel: recurringPayment
        '422':
          description: Account type not supported
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Internal server error:
                  value:
                    code: '704'
                    message: Account type not supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    delete:
      operationId: cancelPayment
      tags:
        - Payments
      summary: Cancel payment
      description: Cancel a payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/PaymentIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Successful Cancel:
                  value:
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    paymentId: "PAYMENT-213"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    cancelledTimestamp: "2021-03-14T13:29:19+0000"
                    status: "CANCELLED"
                    links:
                      - href: "/recurring-payment/RECURRING-PAYMENT-845"
                        rel: recurringPayment
        '400':
          description: Payment cannot be modified or cancelled at this time. Likely due to the state that it is in
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payment cannot be modified or cancelled:
                  value:
                    code: '805'
                    message: Payment cannot be modified or cancelled
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: A payment with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payment not found:
                  value:
                    code: '802'
                    message: Payment not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /recurring-payments:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: searchForRecurringPayments
      tags:
        - Recurring Payments
      summary: Search for recurring payments
      description: Search for recurring payments
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/UpdatedSinceQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayments'
              examples:
                Retrieve Recurring Payments:
                  value:
                    page:
                      nextOffset: "next-offset-123-xyz"
                      prevOffset: "prev-offset-456-abc"
                      totalElements: 100
                    updates:
                      nextUpdateId: "next-update-id-456-krl"
                    links:
                      next:
                        href: "/recurring-payments?offset=next-offset-123-xyz"
                      prev:
                        href: "/recurring-payments?offset=prev-offset-456-abc"
                      updates:
                        href: "/recurring-payments?updatedSince=next-update-id-456-krl"
                    recurringPayments:
                      - frequency: "MONTHLY"
                        duration:
                          type: "NUMBEROFTIMES"
                          numberOfTimes: 12
                        fromAccountId: "ACCOUNT-123"
                        toPayeeId: "PAYEE-ABC"
                        amount: 10.99
                        merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                        dueDate: "2021-08-17"
                        recurringPaymentId: "RECURRING-PAYMENT-485"
                        cancelledTimestamp: "2021-03-14T13:29:19+0000"
                        status: "CANCELLED"
        '404':
          $ref: './fdxapi.components.yaml#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    post:
      operationId: scheduleRecurringPayment
      tags:
        - Recurring Payments
      summary: Schedule recurring payments
      description: Schedule a recurring payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: The data of the Recurring Payment to be scheduled
              $ref: '#/components/schemas/RecurringPaymentForUpdate'
            examples:
              Create Recurring Payment:
                value:
                  frequency: "MONTHLY"
                  duration:
                    type: "NUMBEROFTIMES"
                    numberOfTimes: 12
                  fromAccountId: "ACCOUNT-123"
                  toPayeeId: "PAYEE-ABC"
                  amount: 10.99
                  merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                  dueDate: "2021-08-17"
      responses:
        '200':
          description: Duplicate Recurring Payment
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
              examples:
                Duplicate Recurring Payment:
                  value:
                    frequency: "MONTHLY"
                    duration:
                      type: "NUMBEROFTIMES"
                      numberOfTimes: 12
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    status: "SCHEDULED"
        '201':
          description: Created
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
              examples:
                Successful Creation:
                  value:
                    frequency: "MONTHLY"
                    duration:
                      type: "NUMBEROFTIMES"
                      numberOfTimes: 12
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    status: "SCHEDULED"
        '400':
          description: Request is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Due date too soon:
                  value:
                    code: '803'
                    message: Due date too soon
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Payment rejected:
                  value:
                    code: '804'
                    message: Payment rejected
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Recurring payment rejected:
                  value:
                    code: '807'
                    message: Recurring payment rejected
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Requested payment is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Payee not found:
                  value:
                    code: '800'
                    message: Payee not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account not found:
                  value:
                    code: '901'
                    message: Source account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account closed:
                  value:
                    code: '902'
                    message: Source account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not found:
                  value:
                    code: '904'
                    message: Destination account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account closed:
                  value:
                    code: '905'
                    message: Destination account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid amount:
                  value:
                    code: '907'
                    message: Invalid amount
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Insufficient funds:
                  value:
                    code: '910'
                    message: Insufficient funds
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '409':
          description: Duplicate Request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
              examples:
                Duplicate Request:
                  value:
                    frequency: MONTHLY
                    duration:
                      type: NUMBEROFTIMES
                      numberOfTimes: 12
                    fromAccountId: ACCOUNT-123
                    toPayeeId: PAYEE-ABC
                    amount: 10.99
                    merchantAccountId: MERCHANT-ACCOUNT-ID-0001
                    dueDate: '2021-08-17'
                    recurringPaymentId: RECURRING-PAYMENT-485
                    status: SCHEDULED
        '422':
          description: Account type not supported
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Account type not supported:
                  value:
                    code: '704'
                    message: Account type not supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /recurring-payments/{recurringPaymentId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: getRecurringPayment
      tags:
        - Recurring Payments
      summary: Get a recurring payment
      description: Get a recurring payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/RecurringPaymentIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
              examples:
                Retrieve Recurring Payment:
                  value:
                    frequency: "MONTHLY"
                    duration:
                      type: "NUMBEROFTIMES"
                      numberOfTimes: 12
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    status: "SCHEDULED"
        '404':
          description: A recurring payment with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Recurring payment not found:
                  value:
                    code: '806'
                    message: Recurring payment not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    patch:
      operationId: updateRecurringPayment
      tags:
        - Recurring Payments
      summary: Update a recurring payment
      description: Update a recurring payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/RecurringPaymentIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: The data of the Recurring Payment to be updated
              $ref: '#/components/schemas/RecurringPaymentForUpdate'
            examples:
              Update Duration (type and numberOfTimes is required if type is NUMBEROFTIMES):
                value:
                  frequency: "MONTHLY"
                  dueDate: "2021-08-30"
                  fromAccountId: "ACCOUNT-890"
                  toPayeeId: "PAYEE-XYZ"
                  amount: 5
                  duration:
                    type: "NUMBEROFTIMES"
                    numberOfTimes: 12
              Update Amount:
                value:
                  frequency: "MONTHLY"
                  amount: 10.99
                  dueDate: "2021-08-30"
                  fromAccountId: "ACCOUNT-890"
                  toPayeeId: "PAYEE-XYZ"
              Update Frequency and Due Date:
                value:
                  fromAccountId: "ACCOUNT-123"
                  frequency: "MONTHLY"
                  dueDate: "2021-08-17"
                  toPayeeId: "PAYEE-XYZ"
                  amount: 5
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
              examples:
                Successful Update:
                  value:
                    frequency: "MONTHLY"
                    duration:
                      type: "NUMBEROFTIMES"
                      numberOfTimes: 12
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    status: "SCHEDULED"
        '400':
          description: Request is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Due date too soon:
                  value:
                    code: '803'
                    message: Due date too soon
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Recurring payment cannot be modified or cancelled:
                  value:
                    code: '808'
                    message: Recurring payment cannot be modified or cancelled
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Requested recurring payment change is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Recurring payment not found:
                  value:
                    code: '806'
                    message: Recurring payment not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Payee not found:
                  value:
                    code: '800'
                    message: Payee not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account not found:
                  value:
                    code: '901'
                    message: Source account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account closed:
                  value:
                    code: '902'
                    message: Source account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not found:
                  value:
                    code: '904'
                    message: Destination account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account closed:
                  value:
                    code: '905'
                    message: Destination account closed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid amount:
                  value:
                    code: '907'
                    message: Invalid amount
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Insufficient funds:
                  value:
                    code: '910'
                    message: Insufficient funds
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '409':
          description: Duplicate Request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
              examples:
                Duplicate Request:
                  value:
                    frequency: MONTHLY
                    duration:
                      type: NUMBEROFTIMES
                      numberOfTimes: 12
                    fromAccountId: ACCOUNT-123
                    toPayeeId: PAYEE-ABC
                    amount: 10.99
                    merchantAccountId: MERCHANT-ACCOUNT-ID-0001
                    dueDate: '2021-08-17'
                    recurringPaymentId: RECURRING-PAYMENT-485
                    status: SCHEDULED
        '422':
          description: Account type not supported
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Account type not supported:
                  value:
                    code: '704'
                    message: Account type not supported
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    delete:
      operationId: cancelRecurringPayment
      tags:
        - Recurring Payments
      summary: Cancel a recurring payment
      description: Cancel a recurring payment
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/RecurringPaymentIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
              examples:
                Successful Cancel:
                  value:
                    frequency: "MONTHLY"
                    duration:
                      type: "NUMBEROFTIMES"
                      numberOfTimes: 12
                    fromAccountId: "ACCOUNT-123"
                    toPayeeId: "PAYEE-ABC"
                    amount: 10.99
                    merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                    dueDate: "2021-08-17"
                    recurringPaymentId: "RECURRING-PAYMENT-485"
                    cancelledTimestamp: "2021-03-14T13:29:19+0000"
                    status: "CANCELLED"
        '400':
          description: Recurring payment cannot be modified or cancelled at this time. Likely due to the state that it is in
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Recurring payment cannot be modified or cancelled:
                  value:
                    code: '808'
                    message: Recurring payment cannot be modified or cancelled
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: A recurring payment with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Recurring payment not found:
                  value:
                    code: '806'
                    message: Recurring payment not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /recurring-payments/{recurringPaymentId}/payments:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: getPaymentsForRecurringPayment
      tags:
        - Recurring Payments
      summary: Payments associated with the recurring payment
      description: Search for payments associated with the recurring payment
      parameters:
        - $ref: '#/components/parameters/RecurringPaymentIdPath'
        - $ref: '#/components/parameters/UpdatedSinceQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
              examples:
                Payments Associated with Recurring Payment:
                  value:
                    page:
                      nextOffset: "next-offset-123-xyz"
                      prevOffset: "prev-offset-456-abc"
                      totalElements: 100
                    updates:
                      nextUpdateId: "next-update-id-456-krl"
                    links:
                      next:
                        href: "/recurring-payment/RECURRING-PAYMENT-485/payments?offset=next-offset-123-xyz"
                      prev:
                        href: "/recurring-payment/RECURRING-PAYMENT-485/payments?offset=prev-offset-456-abc"
                      updates:
                        href: "/recurring-payment/RECURRING-PAYMENT-485/payments?updatedSince=next-update-id-456-krl"
                    payments:
                      - fromAccountId: "ACCOUNT-123"
                        toPayeeId: "PAYEE-ABC"
                        amount: 10.99
                        merchantAccountId: "MERCHANT-ACCOUNT-ID-0001"
                        dueDate: "2021-08-17"
                        paymentId: "PAYMENT-213"
                        recurringPaymentId: "RECURRING-PAYMENT-485"
                        processedTimestamp: "2021-03-15T13:29:19+0000"
                        startedProcessingTimestamp: "2021-03-14T13:29:19+0000"
                        status: "PROCESSED"
                        links:
                          - href: "/recurring-payment/RECURRING-PAYMENT-458"
                            rel: recurringPayment
        '404':
          description: A recurring payment with provided ID was not found
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Recurring payment not found:
                  value:
                    code: '806'
                    message: Recurring payment not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /transfers:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: searchForTransfers
      tags:
        - Internal Transfers
      description: Search for transfers
      summary: Search for transfers between accounts
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/UpdatedSinceQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/PageKeyQuery'
        - $ref: './fdxapi.components.yaml#/components/parameters/LimitQuery'
        - name: searchStartTransferDate
          in: query
          description: Start time for use in retrieval of transfers by transfer date
          schema:
            $ref: './fdxapi.components.yaml#/components/schemas/DateString'
        - name: searchEndTransferDate
          in: query
          description: End time for use in retrieval of transfers by transfer date
          schema:
            $ref: './fdxapi.components.yaml#/components/schemas/DateString'
        - name: searchFromAccountIds
          in: query
          description: Search for transfers by source account(s)
          schema:
            type: array
            items:
              type: string
        - name: searchToAccountIds
          in: query
          description: Search for transfers by target account(s)
          schema:
            type: array
            items:
              type: string
        - name: searchStatuses
          in: query
          description: Search for transfers by current statuses
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PaymentStatus'
        - name: searchTransferIds
          in: query
          description: Search for transfers by id
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfers'
        '400':
          description: Start or end date value is not in the ISO 8601 format
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          $ref: './fdxapi.components.yaml#/components/responses/404'
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    post:
      operationId: requestAccountTransfer
      tags:
        - Internal Transfers
      description: Create a transfer between accounts
      summary: Request account transfer
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Data of the transfer request
        content:
          application/json:
            schema:
              description: Data of the transfer request
              $ref: '#/components/schemas/TransferForCreate'
            examples:
              Transfer Example:
                value:
                  transferId: "MY-TRANSFER-ID"
                  fromAccountId: "ACCOUNT-123"
                  toAccountId: "ACCOUNT-456"
                  amount: 100
                  memo: "FDX Transfer Example"
                  paymentDetails:
                    principalAmount: 75
                    interestAmount: 10
                    insuranceAmount: 5
                    escrowAmount: 5
                    pmiAmount: 5
                    feesAmount: 0
      responses:
        '200':
          description: Initial status of the requested transfer
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              examples:
                Successful Transfer:
                  value:
                    transferId: "MY-TRANSFER-ID"
                    fromAccountId: "ACCOUNT-123"
                    toAccountId: "ACCOUNT-456"
                    amount: 100
                    memo: "FDX Transfer Example"
                    paymentDetails:
                      principalAmount: 75
                      interestAmount: 10
                      insuranceAmount: 5
                      escrowAmount: 5
                      pmiAmount: 5
                      feesAmount: 0
                    referenceId: "FI-TRANSFER-ID"
                    status: "SCHEDULED"
                    transferTime: "2021-03-14T13:15:30.751Z"
        '400':
          description: Source account does not have sufficient funds
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Insufficient funds:
                  value:
                    code: '910'
                    message: Insufficient funds
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '401':
          description: Account not authorized for transfer
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Source account not authorized for transfer:
                  value:
                    code: '903'
                    message: Source account not authorized for transfer
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not authorized for transfer:
                  value:
                    code: '906'
                    message: Destination account not authorized for transfer
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Requested transfer is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Source account not found:
                  value:
                    code: '901'
                    message: Source account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not found:
                  value:
                    code: '904'
                    message: Destination account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid amount:
                  value:
                    code: '907'
                    message: Invalid amount
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Transfer not found:
                  value:
                    code: '950'
                    message: Transfer not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '409':
          description: Duplicate transfer request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Duplicate transfer request:
                  value:
                    code: '908'
                    message: Duplicate transfer request
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'

  /transfers/{transferId}:
    parameters:
      - $ref: './fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: './fdxapi.components.yaml#/components/parameters/FdxApiDataRecipientIdHeader'
    x-fdx-csdf-account-categories: [REG_E]
    get:
      operationId: getTransfer
      tags:
        - Internal Transfers
      description: Get a transfer between accounts
      summary: Get a transfer
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/TransferIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              examples:
                Retrieved Transfer:
                  value:
                    transferId: "MY-TRANSFER-ID"
                    fromAccountId: "ACCOUNT-123"
                    toAccountId: "ACCOUNT-456"
                    amount: 100
                    memo: "FDX Transfer Example"
                    paymentDetails:
                      principalAmount: 75
                      interestAmount: 10
                      insuranceAmount: 5
                      escrowAmount: 5
                      pmiAmount: 5
                      feesAmount: 0
                    referenceId: "FI-TRANSFER-ID"
                    status: "SCHEDULED"
                    transferTime: "2021-03-14T13:15:30.751Z"
    patch:
      operationId: updateAccountTransfer
      tags:
        - Internal Transfers
      description: Update a transfer between accounts
      summary: Update account transfer
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/TransferIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: The data of the transfer to be updated
              $ref: '#/components/schemas/TransferForCreate'
            examples:
              Update amount and due date:
                value:
                  amount: 200
                  paymentDetails:
                    principalAmount: 175
                    interestAmount: 10
                    insuranceAmount: 5
                    escrowAmount: 5
                    pmiAmount: 5
                    feesAmount: 0
                  dueDate: "2025-11-14"
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              examples:
                Successful Transfer Update:
                  value:
                    transferId: "MY-TRANSFER-ID"
                    fromAccountId: "ACCOUNT-123"
                    toAccountId: "ACCOUNT-456"
                    amount: 200
                    memo: "FDX Transfer Example"
                    paymentDetails:
                      principalAmount: 175
                      interestAmount: 10
                      insuranceAmount: 5
                      escrowAmount: 5
                      pmiAmount: 5
                      feesAmount: 0
                    dueDate: "2025-11-14"
                    referenceId: "FI-TRANSFER-ID"
                    status: "SCHEDULED"
        '400':
          description: Source account does not have sufficient funds
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Insufficient funds:
                  value:
                    code: '910'
                    message: Insufficient funds
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '401':
          description: Account not authorized for transfer
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Source account not authorized for transfer:
                  value:
                    code: '903'
                    message: Source account not authorized for transfer
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not authorized for transfer:
                  value:
                    code: '906'
                    message: Destination account not authorized for transfer
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Requested transfer change is invalid
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Transfer ID changed:
                  value:
                    code: '950'
                    message: Existing Transfer ID cannot be changed
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account not found:
                  value:
                    code: '901'
                    message: Source account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Destination account not found:
                  value:
                    code: '904'
                    message: Destination account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid amount:
                  value:
                    code: '907'
                    message: Invalid amount
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Transfer not found:
                  value:
                    code: '950'
                    message: Transfer not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '409':
          description: Duplicate transfer request
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: './fdxapi.components.yaml#/components/schemas/Error'
              examples:
                Duplicate transfer request:
                  value:
                    code: '908'
                    message: Duplicate transfer request
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: './fdxapi.components.yaml#/components/responses/500'
        '501':
          $ref: './fdxapi.components.yaml#/components/responses/501'
        '503':
          $ref: './fdxapi.components.yaml#/components/responses/503'
    delete:
      operationId: cancelTransfer
      tags:
        - Internal Transfers
      description: Cancel a transfer between accounts
      summary: Cancel transfer
      x-fdx-csdf-account-categories: [REG_E]
      parameters:
        - $ref: '#/components/parameters/TransferIdPath'
      responses:
        '200':
          description: Ok
          headers:
            x-fapi-interaction-id:
              $ref: './fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
              examples:
                Deleted Transfer:
                  value:
                    transferId: "MY-TRANSFER-ID"
[...]
